<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/contact.css">
    <title>Contacto</title>
</head>
<body>
    <header>

    </header>
    <main id="principal">
        <section id="contacto">
            <div class="m-5">
                <h2>Contactenos</h2>
                <p>Envianos tu consulta o comentario</p>
            </div>
            <div class="m-5">
                <form action="">
                    <input type="text" placeholder="Nombre y Apellido" class="input b-tran b-botto">
                    <input type="email" placeholder="E-mail" class="input b-tran b-botto">
                    <input type="text" placeholder="Asunto" class="input b-tran b-botto">
                    <textarea name="mensaje" id="" cols="30" rows="5" placeholder="Mensaje" class="input border area"></textarea>
                    <div class="">
                        <input type="submit" value="Enviar" class="b-radi-13 colo bg-c p-1-10">
                    </div>
                                    
                </form>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    
</body>
</html>