<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/styles/header-footer.css" rel="stylesheet">

</head>
<header id="header">
    <p href=#>MI CUENTA</p>
    <div class="nav-bar">
    <img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8">
    <ul class="enlaces">
        <a href="/">INICIO</a>
        <a>PRODUCTOS</a>
        <a>ACCESORIOS</a>
        <a>CONTACTO</a>
    </ul>  
    <ul class="iconos">
        <i class="far fa-user"></i>
        <i class="fas fa-shopping-cart"  ></i>
        <i class="fas fa-search"  ></i>
    </ul> 
    </div> 
</header>

<footer>
    <div class="foot">
    <img src="/images/electr8-logo.png" aling="left" width ="300" height="100" alt="Electr8">
    <ul class="links">
    <a>Productos</a> <a>Categorías</a> <a>Acerca de nosotros</a>
    </ul> 
    <ul class="redes">
    <i class="fab fa-instagram"></i><a>Instagram</a><br>
    <i class="fab fa-facebook-square"></i><a>Facebook</a><br>
    <i class="fab fa-whatsapp"><a></i>WhatsApp</a>
    </ul>
    <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
    </div>

</footer>
