<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">
      <title>Eletr8 | Home</title>
</head>
<body>
      <header id="header">
            <p href=#>MI CUENTA</p>
            <div class="nav-bar">
                  <img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8">
                  <ul class="enlaces">
                      <a href="/">INICIO</a>
                      <a>PRODUCTOS</a>
                      <a>ACCESORIOS</a>
                      <a>CONTACTO</a>
                  </ul>  
                  <ul class="iconos">
                      <i class="far fa-user"></i>
                      <i class="fas fa-shopping-cart"  ></i>
                      <i class="fas fa-search"  ></i>
                  </ul> 
            </div> 
        </header>
      <section id="banner-carousel">
            <img src="/images/imagen-salon.jpeg" alt="">
      </section>
      <main id="home-main">
            <section id="novedades">
                  <div class="titulo-link-contain">
                        <h2>Novedades</h2>
                        <a class="link-ver-mas" href="#">Ver mas</a>
                  </div>
                  <div class="novedades-contain">

                        <article class="novedades-caja1 bg-white">
                              <img class="nov-img" src="/images/monociclos/mc-402-segway-PRO-WHITE.jpg" alt="imagen-mc">
                        </article>
                        <div class="cajas-2-3">
                              <article class="novedades-caja2 bg-white br-gray">
                                    <img src="/images/monociclos/mc-403-go-KART.jpg" alt="Kart" height="100%">               
                              </article>
                              <article class="novedades-caja3 bg-white br-gray">
                                    <img src="/images/bicicletas/bic-200-blue-electric-bike-794411_00.jpg" alt="" height="100%">
                              </article>
                        </div>
                        
                        
                  </div>
            </section>
            <section id="lista-productos">            
                  <div class="titulo-link-contain">
                        <h2>Productos</h2>
                        <a class="link-ver-mas" href="#">Ver mas productos</a>
                  </div>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-301-Segway-Ninebot-Kickscooter-ES2.png" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>
                        
                  </article>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-301-Segway-Ninebot-Kickscooter-ES2.png" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>
                  </article>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-302-Ninebot-Segway-KickScooter.jpg" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>
                  </article>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-303-ninebot-air-t15.png" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>
                  </article>
            </section>
            
            <section id="accesorios">
                  <div class="titulo-link-contain">
                        <h2>Accesorios</h2>
                        <a class="link-ver-mas" href="#">Ver mas accesorios</a>
                  </div>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-101-backpack-pj.jpeg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-102-External-BATERIA.png" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-103-CASCO-w01.jpg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-104-BOLSO002.jpg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/cart">Agregar al carrito</a>
                        </div>      
                  </article>
                  
            </section>
            <section id="base-de-home">
                  <div class="base-home-contain">
                        <a href="#">
                              <i class="fas fa-headset"></i>
                              <h5>Soporte tecnico</h5>
                        </a>
                        <a href="#">
                              <i class="fas fa-shield-alt"></i>
                              <h5>Garantia 1 año de fabrica</h5>
                        </a>
                        <a href="#">
                              <i class="fas fa-shipping-fast"></i>
                              <h5>Envio a todo el pais</h5>
                        </a>
                        <a href="#">
                              <i class="fas fa-bicycle"></i>
                              <h5>Asesoramiento en compra</h5>
                        </a>
                  </div>
            </section>
      </main>
      <footer></footer>
      
</body>
</html>