<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">
      <title>Eletr8</title>
</head>
<body>
      <header></header>
      <main>
            <section id="banner-carousel">
                  

            </section>
            <section id="tus-visitas">
                  <div class="titulo-link-contain">
                        <h2></h2>
                        <a href="#"></a>
                  </div>
                  <article>

                  </article>
            </section>
            <section id="futuros-lanzamientos">
                  <div class="titulo-link-contain">
                        <h2></h2>
                        <a href="#"></a>
                  </div>
                  <article>

                  </article>
            </section>
            <section id="accesorios">
                  <div class="titulo-link-contain">
                        <h2></h2>
                        <a href="#"></a>
                  </div>
                  <article>

                  </article>
            </section>
      </main>
      <footer></footer>
      
</body>
</html>