<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">
      <title>Eletr8 | Home</title>
</head>
<body>
      <header>

      </header>
      <section id="banner-carousel">
            <img src="/images/imagen-salon.jpeg" alt="">
      </section>
      <main>
            <section id="tus-visitas">            
                  <div class="titulo-link-contain">
                        <h2>Tus ultimas visitas</h2>
                        <a class="link-ver-mas" href="#">Ver mas productos relacionados</a>
                  </div>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-300-Ninebot-KICKSCOOTER-Max.png" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="#">Ver mas</a>
                              <a class="add-car" href="#">Agregar al carrito</a>
                        </div>
                        
                  </article>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-301-Segway-Ninebot-Kickscooter-ES2.png" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="#">Ver mas</a>
                              <a class="add-car" href="#">Agregar al carrito</a>
                        </div>
                  </article>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-302-Ninebot-Segway-KickScooter.jpg" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="#">Ver mas</a>
                              <a class="add-car" href="#">Agregar al carrito</a>
                        </div>
                  </article>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/monopatines/mp-303-ninebot-air-t15.png" alt="">
                        </div>
                        <div class="article-base">
                              <h3>Nombre del producto</h3>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="#">Ver mas</a>
                              <a class="add-car" href="#">Agregar al carrito</a>
                        </div>
                  </article>
            </section>
            <section id="futuros-lanzamientos">
                  <div class="titulo-link-contain">
                        <h2>Futuros lanzamientos</h2>
                        <a class="link-ver-mas" href="#">Ver mas</a>
                  </div>
                  <article>      
                        <div class="home-fl">
                              <img src="" alt="">
                              <p class="fl-descripcion"></p>
                        </div>
                        <div class="home-fl">
                              <video src=""></video>
                              <p class="fl-descripcion"></p>
                        </div>
                  </article>
            </section>


            <section id="accesorios">
                  <div class="titulo-link-contain">
                        <h2>Accesorios</h2>
                        <a class="link-ver-mas" href="#">Ver mas accesorios</a>
                  </div>
                  <article class="ac-contain">
                        <div class="pa-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="canasta">
                        </div>
                        <h3><a href="#">Nombre del accesorio</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="#">Ver mas</a>
                        <a class="add-car" href="#">Agregar al carrito</a>
                  </article>
                  <article class="ac-contain">
                        <div class="pa-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="">
                        </div>
                        <h3><a href="#">Nombre del accesorio</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="#">Ver mas</a>
                        <a class="add-car" href="#">Agregar al carrito</a>
                  </article>
                  <article class="ac-contain">
                        <div class="pa-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="">
                        </div>
                        <h3><a href="#">Nombre del accesorio</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="#">Ver mas</a>
                        <a class="add-car" href="#">Agregar al carrito</a>
                  </article>
                  <article class="ac-contain">
                        <div class="pa-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="">
                        </div>
                        <h3><a href="#">Nombre del accesorio</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="#">Ver mas</a>
                        <a class="add-car" href="#">Agregar al carrito</a>
                  </article>
                  <article class="ac-contain">
                        <div class="pa-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="">
                        </div>
                        <h3><a href="#">Nombre del accesorio</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="#">Ver mas</a>
                        <a class="add-car" href="#">Agregar al carrito</a>
                  </article>
                  <article class="ac-contain">
                        <div class="pa-img">
                            <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="">
                        </div>
                        <h3><a href="#">Nombre del accesorio</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="#">Ver mas</a>
                        <a class="add-car" href="#">Agregar al carrito</a>
                  </article>
            </section>
      </main>
      <footer></footer>
      
</body>
</html>