<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/productCart.css">
      <title>Carrito</title>
</head>
<body>
    <header id="navegacion">
        <div class="cuenta">
            <a href="/login">MI CUENTA</a>
        </div>
        <br>
        <div class="nav-bar">
            <div class="hamburguesa">
                    <i class="fas fa-bars"></i>
                <div class="nav-container">
                    <div id="icons"></ul>
                        <a href="/login"><i class="far fa-user"></i></a>
                        <a href="/cart"><i class="fas fa-shopping-cart"  ></i></a>
                        <a href="/"><i class="fas fa-search" ></i></a>
                    </div>
                    <ul class="enlaces">   
                        <li><a href="/">INICIO</a></li>
                        <li><a href="/product">PRODUCTOS</a></li>  
                        <li><a href="/">ACCESORIOS</a></li>
                        <li><a href="/contact">CONTACTO</a></li>   
                    </ul>
                </div>
            </div>
            <div class="logo">
                <a href="/"><img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8"></a>
            </div>
        </div>
        <div class="nav-bar-desktop">
            <div class="logo-desktop">
                <a href="/"><img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8"></a>
            </div>
                <ul class="enlaces-desktop">   
                    <li><a href="/">INICIO</a></li>
                    <li><a href="/product">PRODUCTOS</a></li>    
                    <li><a href="/">ACCESORIOS</a></li>   
                    <li><a href="/contact">CONTACTO</a></li>    
                </ul> 
            <div id="icons-desktop"></ul>
                <a href="/login"><i class="far fa-user"></i></a>
                <a href="/productCart"><i class="fas fa-shopping-cart" ></i></a>
                <a href="/home"><i class="fas fa-search"  ></i></a>
            </div>
        </div> 
    </header>

<main>
            <div class="small-container cart-page">

                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                    <td>
    
                        <div class="cart-info">
                            <img src="/images/monopatines/mp-300-Ninebot-KICKSCOOTER-Max.png">
                            <div>
                                <p>NINEBOT KICKSCOOTER</p>
                                <small>$20.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$20.000</td>
                </tr>
                <tr>
                    <td class="td-div">
    
                        <div class="cart-info">
                            <img src="/images/monopatines/mp-303-ninebot-air-t15.png">
                            <div>
                                <p>NINEBOT AIR T15</p>
                                <small>$20.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$20.000</td>
                </tr>
                <tr>
                    <td class="td-div">
    
                        <div class="cart-info">
                            <img src="/images/monociclos/mc-406-MONOCICLO-CICLO.png">
                            <div>
                                <p>MONOCICLO GREY</p>
                                <small>$25.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$25.000</td>
                </tr>
                </table>
    
                <div class="total-price">
    
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>$65.000</td>
                        </tr>
                        <tr>
                            <td>Envío</td>
                            <td>$3.000</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$68.000</td>
                        </tr>
                        <tr>

                            <td><a class="finalizar-compra" href="/">FINALIZAR COMPRA</a></td>

                        </tr>
                    </table>
    
                </div>
    
            </div>
        </main>

            <div class="small-container">
                <h2 class="title">ACCESORIOS</h2>
                <div class="row">
                    <div class="col-4">
                        <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="">
                        <h4>CANASTA DE CARGA</h4>
                        <div class="rating"></div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <p>$2.000</p>
                
                        <div>
                        <div class="carr f-size-10 t-tran-u tran-035">
                            <a href="/productCart">Agregar al Carrito</a>
                        </div>
                        <div class="ver f-size-10 t-tran-u tran-035">
                            <a href="/productDetail">Ver Mas</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/images/accesorios/acc-101-backpack-pj.jpeg" alt="">
                        <h4>MOCHILA BLACK</h4>
                        <div class="rating"></div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <p>$3.000</p>
                        <div>
                            <div class="carr f-size-10 t-tran-u tran-035">
                                <a href="/productCart">Agregar al Carrito</a>
                            </div>
                            <div class="ver f-size-10 t-tran-u tran-035">
                                <a href="/productDetail">Ver Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/images/accesorios/acc-102-External-BATERIA.png" alt="">
                        <h4>BATERIA EXTERNA </h4>
                        <div class="rating"></div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <p>$5.000</p>
                        <div>
                            <div class="carr f-size-10 t-tran-u tran-035">
                                <a href="/productCart">Agregar al Carrito</a>
                            </div>
                            <div class="ver f-size-10 t-tran-u tran-035">
                                <a href="/productDetail">Ver Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/images/accesorios/acc-103-CASCO-w01.jpg" alt="">
                        <h4>CASCO CLÁSICO</h4>
                        <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <p>$2.500</p>
                        <div>
                            <div class="carr f-size-10 t-tran-u tran-035">
                                <a href="/productCart">Agregar al Carrito</a>
                            </div>
                            <div class="ver f-size-10 t-tran-u tran-035">
                                <a href="/productDetail">Ver Mas</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
            </div>
            

                <footer>
                    <div id="foot">
                        <div class="foot-logo">
                            <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
                        </div>
                        <ul class="links">
                            <li><a href="/product">Productos</a></li>
                            <li><a href="/">Categorías</a></li>
                            <li><a href="/">Acerca de Nosotros</a></li> 
                        </ul> 
                        <ul class="redes">
                            <i class="fab fa-instagram"></i><a href="/">Instagram</a>
                            <i class="fab fa-facebook-square"></i><a href="/">Facebook</a>
                            <i class="fab fa-whatsapp"></i><a href="/">WhatsApp</a>
                        </ul>
                        <div class="copyright">
                            <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
                        </div>
                        <div class="foot-logo-desktop">
                            <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
                        </div>
                        <ul class="links-desktop">
                            <li><a href="/product">Productos</a></li>
                            <li><a href="/">Categorías</a></li>
                            <li><a href="/">Acerca de Nosotros</a></li> 
                        </ul>
                        <ul class="redes-desktop">
                            <i class="fab fa-instagram"></i><li><a href="/">Instagram</a></li><br>
                            <i class="fab fa-facebook-square"></i><li><a href="/">Facebook</a></li><br>
                            <i class="fab fa-whatsapp"></i><li><a href="/">WhatsApp</a></li>
                        </ul>
                        <div class="copyright-desktop">
                            <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
                        </div>
                    </div>
              </footer>

</body>
</html>