<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <title>Productos</title>
</head>
<body>
    <header>

    </header>
    <main id="principal">
        <section id="productos">
            <div class="prod-div1">
                <img src="/images/monopatines/mp-301-Segway-Ninebot-Kickscooter-ES2.png" alt="">
            </div>
            <div class="prod-div2">
                <span>
                    <p>Imagen1</p>
                </span>
                <span >
                    <p>Imagen2</p>
                </span>
                <span>
                    <p>Imagen3</p>
                </span> 
                <span>
                    <p>Imagen4</p>
                </span>
            </div>
        </section>
        <section id="descripcion">
            <div class="desc-div1">
                <span>
                    <p>Descrip 1</p>
                </span>
                <span>
                    <p>Descrip 2</p>
                </span>
                <span>
                    <p>Descrip 3</p>
                </span>
            </div>
            <div class="desc-div2">
                <div class="desc-div2-a">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Impedit alias dignissimos ullam iusto asperiores quidem 
                        autem excepturi, ipsa natus tempore magnam veniam officia 
                         ipsum qui? Rerum reprehenderit tenetur modi, hic eligendi 
                         aliquid expedita accusantium quam molestiae ab nesciunt 
                         similique laborum laboriosam ratione vel animi. Accusamus 
                         assumenda necessitatibus rerum sunt. Lorem ipsum dolor, 
                         sit amet consectetur adipisicing elit. Assumenda delectus 
                         quis asperiores itaque quidem expedita repellendus eum 
                         vero molestias. Deserunt minima dolorem perferendis facere, 
                         quae facilis ea minus? Placeat eligendi illum ea id cum 
                         recusandae rem? Necessitatibus perferendis voluptatum placeat 
                         pariatur error, exercitationem eaque eos omnis accusamus 
                         odit eius neque!</p>

                </div>
                
            </div>
        </section>
    </main>
    <footer>

    </footer>
    
</body>
</html>