<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/productCart.css">
      <title>Eletr8 | Home</title>
</head>
<body>
    <header id="header">
        <p href=#>MI CUENTA</p>
    <div class="nav-bar">
    <img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8">
    <ul class="enlaces">
        <a href="/">INICIO</a>
        <a>PRODUCTOS</a>
        <a>ACCESORIOS</a>
        <a>CONTACTO</a>
    </ul>  
    <ul class="iconos">
        <i class="far fa-user"></i>
        <i class="fas fa-shopping-cart"  ></i>
        <i class="fas fa-search"  ></i>
    </ul> 
    </div> 
        </header>

        <main>

        <div class="contenedor-peq pag-cart">

            <table class="tabla-principal">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td>
                        
                        <div class="info-cart">

                            <img src="/images/monopatines/mp-300-Ninebot-KICKSCOOTER-Max.png">
                            <div>
                                <p>Ninebot KICKSCOOTER Max</p>
                                <small>Price: $40.000</small>
                                <br>
                                <a href="">Eliminar del carrito</a>
                            </div>

                        </div>

                        </div>

                    </td>
                    <td><input type="number" value="1" min="0" max="20" maxlength="2"></td>
                    <td>$40.000</td>
                </tr>
                <tr>
                    <td>
                        
                        <div class="info-cart">

                            <img src="images/monociclos/mc-400-SEGWAY-ONE-S2.jpeg">
                            <div>
                                <p>Segway ONE S2</p>
                                <small>Price: $32.000</small>
                                <br>
                                <a href="">Eliminar del carrito</a>
                            </div>

                        </div>

                        </div>

                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$32.000</td>
                </tr>
                <tr>
                    <td>
                        
                        <div class="info-cart">

                            <img src="/images/monopatines/mp-303-ninebot-air-t15.png">
                            <div>
                                <p>Ninebot AIR T15</p>
                                <small>Price: $37.600</small>
                                <br>
                                <a href="">Eliminar del carrito</a>
                            </div>

                        </div>

                        </div>

                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$37.600</td>
                </tr>
            </table>

            <div class="precio-total">

                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>$109.600.</td>
                    </tr>
                    <tr>
                        <td>Envío</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$109.600</td>
                    </tr>
                </table>

            </div>

        </div>
    </main>

    <section id="relaciones">
        <div class="acces">
            <div >
                <p class="ta-c p-10">Casco</p>
            </div>
            <div >
                <img src="images/accesorios/acc-103-CASCO-w01.jpg" alt="" class="w-100 b-radius-13">
            </div>
            <div>
                <div class="carr f-size-8">
                    <a href="">Agregar al Carrito</a>
                </div>
                <div class="ver f-size-8">
                    <a href="">Ver Mas</a>
                </div>
            </div>
        </div>
        <div class="acces">
            <div >
                <p class="ta-c p-10">Bateria Externa</p>
            </div>
            <div >
                <img src="images/accesorios/acc-102-External-BATERIA.png" alt="" class="w-100 b-radius-13">
            </div>
            <div>
                <div class="carr f-size-8">
                    <a href="">Agregar al Carrito</a>
                </div>
                <div class="ver f-size-8">
                    <a href="">Ver Mas</a>
                </div>
            </div>
        </div>
        <div class="acces">
            <div >
                <p class="ta-c p-10">Bolso</p>
            </div>
            <div >
                <img src="images/accesorios/acc-104-BOLSO002.jpg" alt="" class="w-100 b-radius-13">
            </div>
            <div>
                <div class="carr f-size-8">
                    <a href="">Agregar al Carrito</a>
                </div>
                <div class="ver f-size-8">
                    <a href="">Ver Mas</a>
                </div>
            </div>
        </div>
    </section>

    <footer>

        <div class="foot">
            <img src="/images/electr8-logo.png" aling="left" width ="300" height="100" alt="Electr8">
            <ul class="links">
            <a>Productos</a> <a>Categorías</a> <a>Acerca de nosotros</a>
            </ul> 
            <ul class="redes">
            <i class="fab fa-instagram"></i><a>Instagram</a><br>
            <i class="fab fa-facebook-square"></i><a>Facebook</a><br>
            <i class="fab fa-whatsapp"><a></i>WhatsApp</a>
            </ul>
            <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
            </div>

    </footer>

</body>