<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <title>Productos</title>
</head>
<body>
    <header>

    </header>
    <main id="principal" class="d-flex fd-colu">
        <section id="productos">
            <div class="prod-div1">
                <img src="/images/monopatines/mp-301-Segway-Ninebot-Kickscooter-ES2.png" alt="">
            </div>
            <div class="prod-div2">
                <span>
                    <p>Imagen1</p>
                </span>
                <span >
                    <p>Imagen2</p>
                </span>
                <span>
                    <p>Imagen3</p>
                </span> 
                <span>
                    <p>Imagen4</p>
                </span>
            </div>
            <div class="prod-dv3 p-20">
                <div>
                    <p>Fiat</p>
                    <p>Monopatin 500 F-80</p>
                </div>
                <div class="d-flex">
                    <p class="m-right-10 f-size-8 t-deco-lt a-self-c">$ 35.000</p>
                    <p class="descuento f-size-8">20% OFF</p>
                </div>  
                <div >
                    <p class="p-final">$ 30.000</p>
                </div>
            </div>
            <div class="d-flex-r f-size-8">
                <div>
                    <p>Cantidad</p>
                </div>
                <div class="d-flex a-item-b">
                    <div>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <div class="cant d-flex">
                        
                        <div>
                            <p>1</p>
                        </div>
                        
                        
                        
                        
                    </div>
                    <div>
                        <i class="fas fa-plus-circle"></i>

                    </div>

                </div>
            </div>
            <div class="carr f-size-8">
                <p>Agregar al Carrito</p>
            </div>
        </section>
        <section id="cuotas">
            <div>
                <div class="p-20 b-botto f-size-8">
                    <h2>Cuotas y Medios de Pago</h2>
                </div>
                <div class="i-credit">
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-amex"></i>
                    <p class="f-size-30">Hasta 36 cuotas fijas con tarjetas selecionadas</p>
                </div>
                <div class="p-20 b-top">
                    <p class="f-size-7">Ver todos los medios de pago</p>
                </div>

            </div>
        </section>
        <section id="precios" class="d-none">
            <div class="d-flex-r f-size-8">
                <div>
                    <p>Cantidad</p>
                </div>
                <div class="cant">
                    <p>1</p>
                </div>
                
                

            </div>
            <div class="carr f-size-8">
                <p>Agregar al Carrito</p>
            </div>

        </section>
        <section id="descripcion">
            <div>
                <div class="d-flex-c">
                    <p class="des-desc">Informacion del Producto</p>
                    <div class="des-div1-a1">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Minus sed consequuntur voluptatibus a impedit laudantium 
                            eum corporis reiciendis nulla, fugit error, itaque 
                            exercitationem? Iste, maiores. Architecto ea dolorem 
                            laboriosam ab!</p>
                    </div>
                </div> 
            </div>
            <div>
                <div class="d-flex-c">
                    <p class="des-desc">Caracteristicas</p>
                    <div class="des-div2-a1">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Minus sed consequuntur voluptatibus a impedit laudantium 
                            eum corporis reiciendis nulla, fugit error, itaque 
                            exercitationem? Iste, maiores. Architecto ea dolorem 
                            laboriosam ab!</p>
                    </div>
                </div>         
                    
            </div>
            <div>
                <div class="d-flex-c">
                    <p class="des-desc">Servicio Post-Venta</p>
                    <div class="des-div3-a1">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Minus sed consequuntur voluptatibus a impedit laudantium 
                            eum corporis reiciendis nulla, fugit error, itaque 
                            exercitationem? Iste, maiores. Architecto ea dolorem 
                            laboriosam ab!</p>
                    </div>
                </div>         
                    
            </div>
            <div>
                <div class="d-flex-c">
                    <p class="des-desc">Garantias</p>
                    <div class="des-div4-a1">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Minus sed consequuntur voluptatibus a impedit laudantium 
                            eum corporis reiciendis nulla, fugit error, itaque 
                            exercitationem? Iste, maiores. Architecto ea dolorem 
                            laboriosam ab!</p>
                    </div>
                </div>         
                    
            </div>
        </section>
        <section id="accesorios">
            <div class="acces_style f-size-8">
                <p>Accesorios</p>
            </div>
        </section>        
        <section id="relaciones">
            
            <div class="acces">
                <div class="rela-div1-a">
                    <p>Casco</p>
                </div>
                <div class="rela-div1-b">
                    <img src="images/accesorios/acc-103-CASCO-w01.jpg" alt="">
                </div>
                <div>
                    <div class="carr f-size-8">
                        <p>Agregar al Carrito</p>
                    </div>
                    <div class="ver f-size-8">
                        <p>Ver Mas</p>
                    </div>

                </div>
            </div>
            <div class="acces">
                <div class="rela-div1-a">
                    <p>Bateria Externa</p>
                </div>
                <div class="rela-div1-b">
                    <img src="images/accesorios/acc-102-External-BATERIA.png" alt="">
                </div>
                <div>
                    <div class="carr f-size-8">
                        <p>Agregar al Carrito</p>
                    </div>
                    <div class="ver f-size-8">
                        <p>Ver Mas</p>
                    </div>

                </div>
            </div>
            <div class="acces">
                <div class="rela-div1-a">
                    <p>Bolso</p>
                </div>
                <div class="rela-div1-b">
                    <img src="images/accesorios/acc-104-BOLSO002.jpg" alt="">
                </div>
                <div>
                    <div class="carr f-size-8">
                        <p>Agregar al Carrito</p>
                    </div>
                    <div class="ver f-size-8">
                        <p>Ver Mas</p>
                    </div>

                </div>
            </div>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>