<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <title>Productos</title>
</head>
<body>
    <header>

    </header>
    <main id="principal">
        <section id="productos">
            <div class="produc-div1">
                <h2>Nombre del Producto</h2>
            </div>
            <div class="produc-div2">
                <article class="produc-div2-art">
                    <p>Descripcion1</p>                    
                </article>
                <article class="produc-div2-art">
                    <p>Descripcion2</p>
                </article>
                <article class="produc-div2-art">
                    <p>Descripcion3</p>
                </article > 
            </div>
            <div class="produc-div3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Assumenda, eligendi mollitia iusto odit laudantium ex 
                    facilis nesciunt quo doloremque vel asperiores perferendis 
                    aperiam reprehenderit laborum quas officia libero deserunt! 
                    Laudantium, nesciunt magnam in amet ducimus atque id 
                    facere debitis repudiandae dicta totam sapiente officia 
                    voluptas velit optio ipsam adipisci quis. Animi ad 
                    officiis asperiores ipsam sapiente qui ex incidunt veniam. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Facere nisi placeat, inventore reiciendis consectetur 
                     doloribus, dolores sequi culpa, distinctio asperiores 
                     non libero dolore dicta quam fugiat ipsa? Dolores recusandae 
                     magni quasi in quibusdam laudantium totam quam officia, 
                     quia perspiciatis libero quis ex. Adipisci magni provident 
                     fuga amet explicabo ullam architecto.</p>
            </div>
        </section>
        <section id="descripcion">
            <div class="descrip-div1">
                <img src="/images/monopatines/mp-301-Segway-Ninebot-Kickscooter-ES2.png" alt="">
            </div>
            <div class="descrip-div2">
                <article class="descrip-div2-art">
                    <p>Imagen1</p>
                </article>
                <article class="descrip-div2-art">
                    <p>Imagen2</p>
                </article>
                <article class="descrip-div2-art">
                    <p>Imagen3</p>
                </article> 
                <article class="descrip-div2-art">
                    <p>Imagen4</p>
                </article>
            </div>
        </section>
        <section>
            <div class="boton_agregar">
                <a href="*">Agregar al Carrito</a>
            </div>
        </section>
        <section>
            <section id="relaciones">
                <h2>Productos Relacionados</h2>
                <div class="rela-div1">
                    <div class="rela-div1-a">
                        <p>Nombre del Producto</p>
                    </div>
                    <div class="rela-div1-b">
                        <img src="/images/accesorios/ac-100-Loading-basket.jpg" alt="">
                    </div>
                    <div class="boton_agregar">
                        <a href="*">Agregar al Carrito</a>
                    </div>
                    <div class="rela-div1-c">
                        <p>Ver Mas</p>
                    </div>
                </div>
            </section>
            <section id="relaciones">
                <h2>Productos Relacionados</h2>
                <div class="rela-div1">
                    <div class="rela-div1-a">
                        <p>Nombre del Producto</p>
                    </div>
                    <div class="rela-div1-b">
                        <img src="/images/accesorios/acc-101-backpack-pj.jpeg" alt="">
                    </div>
                    <div class="boton_agregar">
                        <a href="*">Agregar al Carrito</a>
                    </div>
                    <div class="rela-div1-c">
                        <p>Ver Mas</p>
                    </div>
                </div>
            </section>
            <section id="relaciones">
                <h2>Productos Relacionados</h2>
                <div class="rela-div1">
                    <div class="rela-div1-a">
                        <p>Nombre del Producto</p>
                    </div>
                    <div class="rela-div1-b">
                        <img src="/images/accesorios/acc-102-External-BATERIA.png" alt="">
                    </div>
                    <div class="boton_agregar">
                        <a href="*">Agregar al Carrito</a>
                    </div>
                    <div class="rela-div1-c">
                        <p>Ver Mas</p>
                    </div>
                </div>
            </section>
            <section id="relaciones">
                <h2>Productos Relacionados</h2>
                <div class="rela-div1">
                    <div class="rela-div1-a">
                        <p>Nombre del Producto</p>
                    </div>
                    <div class="rela-div1-b">
                        <img src="/images/accesorios/acc-103-CASCO-w01.jpg" alt="">
                    </div>
                    <div class="boton_agregar">
                        <a href="*">Agregar al Carrito</a>
                    </div>
                    <div class="rela-div1-c">
                        <p>Ver Mas</p>
                    </div>
                </div>
            </section>
        </section>
        

    </main>
    <footer>

    </footer>
    
</body>
</html>