<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/productos.css">
      <title>Electr8 | Procutos</title>
</head>
<body>
      <header id="header">
        </header>
        <main>
              <section  class="margin-bt-20x">
                  <article class="container">
                        <div class="d-flex bg-white jus-con-center">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/bicicletas/bic-201-black-.jpg" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/">Ver e-bicicletas</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section  class="margin-bt-20x se-bg">
                  <article class="container">
                        <div class="d-flex bg-white jus-con-center">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monociclos/mc-404-Products-Segway-Ninebot.png" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/">Ver e-dualciclos</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section  class="margin-bt-20x">
                  <article class="container">
                        <div class="d-flex bg-white jus-con-center">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monociclos/mc-405-one-s2-resized.png" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/">Ver e-monociclos</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section  class="margin-bt-20x se-bg cartins-4">
                  <article class="container">
                        <div class="d-flex bg-white jus-con-center">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monociclos/mc-403-go-KART.jpg" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/">Ver mas e-kart</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section class="margin-bt-20x monopatines-5">
                  <article class="container">
                        <div class="d-flex bg-white jus-con-center">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monopatines/mp-300-Ninebot-KICKSCOOTER-Max.png" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/">Ver e-monopatines</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>
                
        </main>
        <footer>
        </footer>
</body>
</html>