<!DOCTYPE html>
    <%- include("../partial/head")  %> 
<body>
    <%- include("../partial/header") %> 

    <main id="principal">
        <section id="contacto">
            <div class="m-5 f-size-12">
                <h2>Contactenos</h2>
                <p>Envianos tu consulta o comentario</p>
            </div>
            <div class="m-5">
                <form action="/users/contact" method="POST">
                    <input type="text" name="name" id="name" placeholder="Nombre y Apellido" class="input b-tran b-botto f-size-12">
                    <input type="email" name="email" id="email" placeholder="E-mail" class="input b-tran b-botto f-size-12">
                    <input type="text" name="subject" id="subject" placeholder="Asunto" class="input b-tran b-botto f-size-12">
                    <textarea name="mensaje" id="message" cols="30" rows="5" placeholder="Mensaje" class="input border area f-size-12"></textarea>
                    <div class="">
                        <div class="d-flex j-cont-c ">
                            <input type="submit" value="Enviar" class="b-radi-13 colo bg-c p-1-10 f-size-12 bottom">
                        </div>                        
                    </div>                                    
                </form>
            </div>
        </section>
    </main>

    <%- include("../partial/footer") %> 
    
</body>
</html>