<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head")  %> 
        <title>Eletr8 | Login</title>
    <body class="body-login">
        <%- include("../partial/header") %>
        <div class="login">
            <h1>Ingresá a tu cuenta de Electr8</h1>
            <br>
            <section>
                <form class="datos" action="datos.html" method="POST">
                    <p class="email">
                        <input type="email" name="email" id="email" placeholder="Email">    
                    </p>
                    <hr>
                    <p class="password">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                    </p>
                    <hr>
                </form>
                <p class="recordar">
                    <input type="radio" name="usuario" id="usuario" value="yes">
                    <label for="usuario">Recordar Cuenta</label>
                </p>
            </section>
                <div class="center">
                    <button  class="enviar" type="submit" >Ingresar</button>
                </div>
            <ul class="olvidar">
                <li><a href="/">Olvidé mi contraseña</a></li>
                <li><a href="/users/register">Registrarme</a></li>
            </ul>
                <div class="center1">
                    <button  class="google" type="submit" >Seguir con Google</button>
                </div>
            </form>
        </div>    
    <%- include("../partial/footer") %>
</body>
