<!DOCTYPE html>
<html lang="en">
      <%- include("../partial/head")  %> 
<body>
      <%- include("../partial/header") %> 

      <main id="miCuenta">
              <section class="usuario">
                  <ul class="crear">
                        <li><a class="hover" href="/">Mis datos</a></li>
                        <li><a class="hover" href="/">Mis pedidos</a></li>
                        <li><a class="hover" href="/">Modifica tus datos</a></li>
                  </ul>
                  <article class="misDatos">
                        <li><a>Nombre</a></li>
                        <li><a>Apellido</a></li>
                        <li><a>Email</a></li>
                        <li><a>Foto</a></li>
                  </article>
            </section>
      </main>

      <%- include("../partial/footer") %> 
</body>
</html>
