<!DOCTYPE html>
<html lang="en">
        <%- include("../partial/head")  %> 
        <title>Eletr8 | Registro</title>
<body class="body-register">
    <%- include("../partial/header") %>
    <div class="register">
        <h1>Creá tu cuenta Electr8</h1>
        <section>   
            <form class="registro" action="/users/register" method="POST">

                <!-- <div class="input-form">
                    <input type="text" name="name" id="name" placeholder="Nombre" >
                    
                </div>
                <div class="input-form">
                    <input type="text" name="surname" id="surname" placeholder="Apellido">
                    
                </div> -->
                <div class="email input-form">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <hr>
                    
                </div>
                <div class="input-form">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <% if(typeof errors.password !== 'undefined') { %>
                        <h2 style="color: red;"><%= errors.password.msg	 %></h2>
                    <% } %>
                </div>
                <!-- <div class="input-form">
                    <input type="password" name="repeat" id="repeat" placeholder="Confirmar Contraseña">
                    
                </div> -->
                <!-- <div class="input-form-a">
                    <label class="titulo">Agregá una imágen</label>                    
                </div>
                <div class="input-form">
                    <input type="file" name="image" >
                </div> -->

                <div class="email">
                    <input type="email" name="email" id="email" placeholder="Email">                   
                </div>
                <hr>
                <div>
                    <input type="password" name="password" id="password" placeholder="Contraseña">   
                </div>
                <hr>
                <div class="center1">
                    <button  class="crear" type="submit">Crear Cuenta</button>
                </div>
            </form>
        </section>
        
    </div>    
    <%- include("../partial/footer") %>
</body>