<!DOCTYPE html>
<html lang="en">
        <%- include("../partial/head")  %> 
        <title>Eletr8 | Registro</title>
<body class="body-register">
    <%- include("../partial/header1") %>
    <br>
    <div class="register">
        <h1>Creá tu cuenta Electr8</h1>
        <section>   
            <form class="registro" action="datos.html" method="POST">
                <p>
                    <input type="text" name="name" id="name" placeholder="Nombre">    
                </p>
                <hr>
                <br>
                    <input type="text" name="surname" id="surname" placeholder="Apellido">      
                <hr>
                <br>
                <p>
                    <input type="number" name="dni" id="dni" placeholder="DNI">
                </p>
                <hr>
                <br>
                <p class="nacimiento">
                    <label class="nacimiento" for="nacimiento">Fecha de nacimiento:
                        <input type="date" name="nacimiento" id="nacimiento">      
                    </label>
                </p>
                <hr>
                <br>
                <p>
                    <input type="number" name="phone" id="phone" placeholder="Teléfono">  
                </p>   
                <hr>
                <br>
                <p>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </p>
                <hr>
                <br>
                <p>
                    <input type="password" name="repeat" id="repeat" placeholder="Confirmar Contraseña">
                </p>
                <hr>
        </section>
        <div class="center1">
            <button  class="crear" type="submit">Crear Cuenta</button>
        </div>
    </div>    
    <br>
    <br>
    <hr>
    <%- include("../partial/footer1") %>
</body>