
.d-a-wrap{flex-wrap: wrap;}
.p-5{padding: 5%;}
.p-10x{padding: 10px;}

.justify-btw {justify-content: space-between;}
.just-cont-cent{justify-content: center;}
.align-around{align-content: space-around;}
.align-btw{align-content: space-between;}
.f-d-column{flex-direction: column;}

.h-460{height: 460;}
.h-40{height: 40%;}
.p-style{text-transform: initial;}
.h-style{text-transform: uppercase;}
.w-100{width: 100%;}
.w-80{width: 80%;}
.text-center {text-align: center;}


.u-items{
      width: 30%;
      height: 500px;
      flex-direction: column;
      padding: 5px;
      background-color: white;
      border: 1px solid var(--border-color-grey);
      border-radius: 13px;
      margin-bottom: 10px;
}
.img-size
{height: 100%;}

.article-base-ac{
     width: 100%;
     height: 60%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: space-between;
     padding: 5px;
}

@media (max-width: 1024px){
      .u-items{width: 49%;}
}

@media (max-width: 570px){
      .u-items{width: 100%;}
}



