.d-a-flex{display: flex;}
.d-a-wrap{flex-wrap: wrap;}
.p-5{padding: 5%;}

.justify-btw {justify-content: space-between;}
.just-cont-cent{justify-content: center;}
.aligne-btw{align-content: space-around;}
.f-d-column{flex-direction: column;}

.h-460{height: 460;}
.h-50{height: 50%;}
.p-style{text-transform: initial;}
.h-style{text-transform: uppercase;}
.w-100{width: 100%;}


.u-items{
      width: 30%;
      height: 500px;
      flex-direction: column;
      padding: 5px;
      background-color: white;
      border: 1px solid var(--border-color-grey);
      border-radius: 13px;
      margin-bottom: 10px;
}
.img-size{height: 100%;}

