*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    --body-background:#f4f4f4;
    --articles-bg:white;
    --font-color:#219653;
    --bg-font-green-hover:#18683b;
    --bg-font-grey-hover:#5a6268;
}

.m-5 {margin: 5%;}
.m-10 {margin: 10px;}
.m-botto-5 {margin-bottom: 5%;}
.b-tran {border: transparent;}
.b-botto {border-bottom: 1px solid var(--font-color)}
.b-botto1 {border-bottom: 1px solid gray}
.border {border: 1px solid gray;}
.b-radi-13 {border-radius: 13px;}
.d-flex {display: flex;}
.j-cont-c {justify-content: center;}
.w-100 {width: 100%;}
.p-1 {padding: 1%;}
.p-1-10 {padding: 1% 10%;}

.colo {color: var(--font-color);}
.bg-c {background-color: #f4f4f4;}
.t-tran {text-transform: uppercase;}
.b-sty {border-style: outset};
.b-color {border-color: #f4f4f4};
.b-wid {border-width: 1px;}

/* Inicio del Cuerpo Principal */

body {
    background-color: var(--body-background);
    font-family: 'Comfortaa', cursive, 'Arial';   
}

#principal {
    margin: 5% 5%;

}

#contacto {
    width: 100%;
    background-color: white;
    border: 1px solid #dcdee3;
    border-radius: 13px;
    margin: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)
}

*:focus {
    outline: none;
}

.input{
    display: flex;
    width: 100%;
    margin-bottom: 5%;
    padding: 1%;

}

.area {
    font-family: 'Comfortaa', cursive, 'Arial';
    font-size: 70%;
}

.bottom:hover {
    background-color: var(--bg-font-green-hover);
    color: white;
}

/* Fin del Cuerpo Principal */


@media (min-width:1024px) {

    /* Inicio del Cuerpo Principal */

    #principal {
        
        display: flex;
        justify-content: center;
        margin: 5% 20%;       
    }
    .f-size-12 {font-size: 1.2em;}

    /* Fin del Cuerpo Principal */

}