:root {
  --body-background: #f4f4f4;
  --articles-bg: white;
  --font-color: #219653;
  --bg-font-green-hover: #18683b;
  --font-color-rgba: rgba(33, 150, 84, 0.856);
  --bg-font-grey-hover: #5a6268;
}

ul {
  list-style-type: none;
}

.enlaces ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#top-header {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: right;
  font-size: 15px;
  width: 100%;
  padding: 15px;
  border: solid 1px black;
  background-color: black;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}
.search-input {
  display: none;
}
#navegacion {
  width: 100%;
}
.nav-bar-desktop {
  display: none;
}
.cuenta a {
  text-decoration: none;
  color: white;
}
.enlaces a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 15px;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px;
  font-size: 18px;
  border: solid 1px #ffffff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  color: var(--font-color);
}
.nav-container {
  display: none;
}
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  height: max-content;
}
.logo img {
  width: 100%;
  max-width: 200px;
}

.hamburguesa {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 35px;
  position: relative;
  top: 15px;
  margin-bottom: 15px;
  /* padding: 10px; */
}

.hamburguesa:hover .nav-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.h-container {
  display: flex;
  padding: 5px;
  justify-content: center;
}
.enlaces {
  display: flex;
  width: 100%;
  text-align: left;
}

.enlaces ul li {
  text-decoration: underline;
  font-weight: bold;
}

#icons i {
  color: var(--font-color);
  padding: 5px;
  font-size: 18px;
}

#icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border: solid 1px var(--font-color);
  border-radius: 13px;
  color: var(--font-color);
  font-size: 15px;
  padding: 5px;
  margin-top: 10px;
  position: relative;
  right: 70%;
  overflow: hidden;
}

a.hover-icon:hover {
  font-size: 22px;
  color: white;
}

/* //// BUSCADOR STYLE /// */

#searchEngine {
  width: 50px;
  flex-grow: 3;
}
#searchEngine form {
  display: flex;
}
#searchEngine form button {
  background-color: white;
  border: none;
  color: var(--font-color);
  border-radius: 13px;
}
#searchEngine form input[type="text"] {
  width: 100%;
  font-family: inherit;
  background-color: white;
  border: none;
  padding: 2px;
  font-size: 1em;
  border-radius: 13px;
}
#searchEngine form input:focus {
  outline: none;
}

/*                 FOOTER  ///////*/

.foot1 {
  width: 100%;
  border: solid 1px black;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: black;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

#foot {
  display: flex;
  flex-wrap: wrap;
  font-family: "Comfortaa", cursive, "Arial";
  color: white;
}

.foot-logo-desktop {
  display: none;
}

.foot-logo {
  margin: auto;
  padding-bottom: 2%;
}

.links-desktop {
  display: none;
}

.links a {
  text-decoration: none;
  color: white;
}

.links {
  color: white;
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  font-size: 14px;
  padding-bottom: 4%;
}

.redes-desktop {
  display: none;
}

.redes a {
  display: none;
}

.redes {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 40%;
  margin: auto;
  font-size: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.copyright-desktop {
  display: none;
}

.copyright {
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", cursive, "Arial";
  color: white;
  width: 100%;
  font-size: 8px;
}

@media (min-width: 1024px) {
  .nav-bar {
    display: none;
  }
  .a-icenter {
    align-items: center;
  }
  #top-header {
    justify-content: space-between;
  }
  .search-input {
    display: flex;
    width: 25%;
  }
  #searchEngine .search-form {
    padding: 2px;
    background-color: white;
    border-radius: 13px;
  }

  #searchEngine form button i {
    padding: 5px;
    padding-right: 10px;
    font-size: 22px;
  }

  #navegacion .nav-bar-desktop {
    display: flex;
    justify-content: space-between;
    font-family: "Comfortaa", cursive, "Arial";
    color: var(--font-color);
    width: 100%;
    font-size: 18px;
    padding: 15px;
    border: solid 1px #ffffff;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .logo-desktop {
    display: flex;
  }

  .enlaces-desktop a {
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--font-color);
  }
  .enlaces-desktop a:hover {
    border-bottom: 2px solid var(--font-color-rgba);
  }

  .enlaces-desktop {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: space-around;
    position: relative;
    left: 10%;
  }

  .nav-bar-desktop {
    display: flex;
    flex-wrap: wrap;
  }
  #icons-desktop {
    width: 10%;
    height: 35px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: solid 1px #219653;
    background-color: white;
    box-sizing: content-box;
    color: #219653;
    border-radius: 13px;
  }
  #icons-desktop-out {
    width: 10%;
    height: 35px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: solid 1px #219653;
    background-color: white;
    box-sizing: content-box;
    color: #219653;
    border-radius: 13px;
  }

  #icons-desktop a {
    text-decoration: none;
    color: var(--font-color);
    padding: 3px;
    width: 33%;
    display: flex;
    justify-content: center;
  }
  #icons-desktop form button{
    text-decoration: none;
    color: var(--font-color);
    border-color: var(--font-color);
    border-image: none;
    border-style: none;
    background-color: white;
    cursor: pointer;
    font: inherit;
    

    padding: 3px;
    display: flex;
    justify-content: space-around;
  }
 button.h-log:hover .hover-logout{
  display: flex;
  position: absolute;
  top: 85px;
  right: 60px;
  font-size: 0.8em;
  text-align: center;
  font: inherit;
 }
  .hover-none {display: none;}

  a.h-log:hover .hover-login {
    display: flex;
    position: absolute;
    top: 85px;
    right: 60px;
    font-size: 0.8em;
    text-align: center;
  }
 
  a.h-reg:hover .hover-register {
    display: flex;
    position: absolute;
    top: 85px;
    right: 40px;
    font-size: 0.8em;
    text-align: center;
  }
  a.h-cart:hover .hover-carrito {
    display: flex;
    position: absolute;
    top: 85px;
    right: 40px;
    font-size: 0.8em;
    text-align: center;
  }

  /*         FOOTER DESKTOP  */
  .foot-logo {
    display: none;
  }

  .foot-logo-desktop {
    display: flex;
    margin-right: 10%;
  }

  .redes-desktop a {
    display: flex;
    text-decoration: none;
    color: white;
  }

  .redes {
    display: none;
  }

  .redes-desktop {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-self: center;
    padding-left: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .links {
    display: none;
  }

  .links-desktop li {
    margin: auto;
  }

  .links-desktop a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
  }

  .links-desktop {
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3%;
  }

  .copyright {
    display: none;
  }

  .copyright-desktop {
    display: flex;
    align-self: flex-end;
    font-family: "Comfortaa", cursive, "Arial";
    color: white;
    width: 100%;
    font-size: 10px;
  }
}
