* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #f4f4f4;
  --articles-bg: white;
  --font-color: #219653;
  --bg-font-green-hover: #18683b;
  --bg-font-grey-hover: #5a6268;
}

body {
  background-color: var(--body-background);
  font-family: "Comfortaa", cursive, "Arial";
}
a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row {
  margin-top: 70px;
}
.small-container {
  max-width: 1024px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.4s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #219653;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: #219653;
}

.col-4:hover {
  transform: translateY(-5px);
}

small {
  color: #555;
}
/*mdia query menu*/
@media (max-width: 460px) {
  .row {
    text-align: center;
  }
  .col-4 {
    flex-basis: 100%;
  }
}

/*cart items*/

.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.cart-info a:hover {
  background-color: var(--bg-font-green-hover);
  color: white;
  border-radius: 10%;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #219653;
  font-weight: normal;
}

td {
  padding: 10px 5px;
  border-bottom: 2px solid #bababa;
}

.ult-td {
  border-bottom-style: none;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #219653;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.tb-total {
  background-color: #dedede;
}

.btn-finalizar {
  border-style: none;
}

.btn-finalizar-2 {
  border-bottom-style: none;
}

.total-price table {
  border-top: 3px solid var(--font-color);
  width: 100%;
  max-width: 400px;
  padding-top: 20px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.add-car {
  background-color: var(--font-color);
  width: 100%;
  margin: 0px auto;
  text-transform: uppercase;
  padding: 20px 20px;
  color: white;
  font-size: 0.8em;
  border: 1px solid var(--font-color);
  border-radius: 11px;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out,
    border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}
.add-car:visited {
  color: white;
}
.add-car:hover {
  background-color: var(--bg-font-green-hover);
}

.finalizar-compra {
  background-color: var(--font-color);
  width: 100%;
  margin: 0px auto;
  text-transform: uppercase;
  padding: 20px 20px;
  color: white;
  font-size: 0.8em;
  border: 1px solid var(--font-color);
  border-radius: 30px;
  margin-top: 20px;
}

.finalizar-compra:hover {
  background: var(--bg-font-green-hover);
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out,
    border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.f-size-10 {
  font-size: 100%;
}
.ver {
  background-color: white;
  color: black;
  text-align: center;
  margin: 20px;
  padding: 20px 0;
  border: 1px solid black;
  border-radius: 30px;
}

.ver:hover {
  background-color: var(--bg-font-grey-hover);
}

.ver:hover a {
  color: white;
}

.table-cart {
  background-color: #dedede;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.ver a {
  color: var(--bg-font-grey-hover);
}
.t-tran-u {
  text-transform: uppercase;
}
.tran-035 {
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out,
    border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}
.carr {
  background-color: var(--font-color);
  color: var(--body-background);
  text-align: center;
  margin: 20px;
  padding: 20px 0;
  border-radius: 30px;
}

.carr:hover {
  background-color: var(--bg-font-green-hover);
}

.carr a {
  color: white;
}

@media (max-width: 555px) {
  .cart-info p {
    display: none;
  }
}

/*Accesorios**/

.pad-section {
  padding: 5%;
}
.titulo-link-contain {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.ver-mas {
  width: 100%;
  margin: 0px auto 10px;
  border: 1px solid black;
  border-radius: 13px;
  text-transform: uppercase;
  padding: 0.6em;
  font-size: 0.8em;
}
.ver-mas:hover {
  background-color: var(--bg-font-grey-hover);
  color: white;
  border-color: white;
}
.link-ver-mas {
  font-size: 1em;
  text-transform: uppercase;
  font-style: italic;
}
.link-ver-mas:hover {
  font-size: 1em;
  text-decoration: underline;
}
#accesorios .ac-contain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  border-radius: 13px;
  box-shadow: 0 0 10px 5px #dedede80;
  margin-bottom: 20px;
  background-color: var(--articles-bg);
  padding: 5px;
}
.p-ac-img {
  width: 50%;
}
.ac-contain img {
  width: 100%;
}
.acc-base-contain {
  width: 48%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
p.precio {
  margin-bottom: 10px;
}

.tr-table {
  border-top-left-radius: 15px;
}

.tr-table-2 {
  border-top-right-radius: 15px;
}

.add-car {
  background-color: var(--font-color);
  width: 100%;
  margin: 0px auto;
  text-transform: uppercase;
  padding: 0.6em 0px;
  color: white;
  font-size: 0.8em;
  border: 1px solid var(--font-color);
  border-radius: 13px;
}
.add-car:visited {
  color: white;
}
.add-car:hover {
  background-color: var(--bg-font-green-hover);
}

/* ACCESORIOS section #accesorios*/
#accesorios {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#accesorios .ac-contain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  border-radius: 13px;
  box-shadow: 0 0 10px 5px #dedede80;
  margin-bottom: 20px;
  background-color: var(--articles-bg);
  padding: 5px;
}

.titulo-acc {
  color: #219653;
}

.p-ac-img {
  width: 50%;
}
.ac-contain img {
  width: 100%;
}
.acc-base-contain {
  width: 48%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
/* ARREGLOS PARA PANTALLAS MEDIAS*/
@media (min-width: 460px) {
  #accesorios .ac-contain {
    width: 48%;
  }
}

/* ARREGLOS PARA PANTALLAS DE ESCRITORIO*/
@media (min-width: 960px) {
  .add-car,
  .ver-mas {
    font-size: 0.7em;
  }
  article.home-producto {
    width: 24%;
  }
  #accesorios .ac-contain {
    width: 24%;
  }
}
@media (min-width: 1024px) {
  .max-height {
    max-height: 180px;
  }
}
