*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      background-color: var(--body-background);
      font-family: 'Comfortaa', cursive, 'Arial';
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root{
  --body-background:#f4f4f4;
  --second-body-bg:#eeeeee;
  --articles-bg:white;
  --font-color:#219653;
  --bg-font-green-hover:#18683b;
  --bg-font-grey-hover:#5a6268;
  --color-verde:#219653;
  --border-color-grey: #dcdcdc;
}
  /* /////   MAIN TODOS LOS PRODUCTOS //////*/

  .pdd-0x-15x{padding: 0 15px;}
  .pdd-15x{padding: 15px;}
  .pdd-10x{padding: 10px;}
  .margin-b{ margin-block-end: 0.83em;}
  .margin-bt-20x{padding: 20px 0px;}
  .font-p{font-size: 0.9em; margin-bottom: 1.2em;}
  .d-flex{display: flex; flex-wrap: wrap;}
  .bg-white{background-color: white;}
  .jus-con-center{justify-content: center;}
  .se-bg{background-color: var(--second-body-bg);}

 .container{
   width: 100%;
   padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
 }
  .ver-a-h2{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  a.pdd-10x{
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 13px;
    text-decoration: none;
  }


@media (min-width: 576px){
.container {
    max-width: 540px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}

@media (min-width: 992px){
.container {
    max-width: 960px;
}
.size-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.align-content-center{
  align-content: center;
}
}
