*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      background-color: var(--body-background);
      font-family: 'Comfortaa', cursive, 'Arial';
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root{
  --body-background:#f4f4f4;
  --second-body-bg:#eeeeee;
  --articles-bg:white;
  --font-color:#219653;
  --bg-font-green-hover:#18683b;
  --bg-font-grey-hover:#5a6268;
  --color-verde:#219653;
  --border-color-grey: #dcdcdc;
}
  /* /////   MAIN TODOS LOS PRODUCTOS //////*/

  .pdd-0x-15x{padding: 0 15px;}
  .pdd-15x{padding: 15px;}
  .pdd-10x{padding: 10px;}
  .margin-b{ margin-block-end: 0.83em;}
  .margin-bt-20x{padding: 20px 0px;}
  .font-p{font-size: 0.9em; margin-bottom: 1.2em;}
  .d-flex{display: flex; flex-wrap: wrap;}
  .bg-white{background-color: white;}
  .jus-con-center{justify-content: center;}
  .se-bg{background-color: var(--second-body-bg);}

 .container{
   width: 100%;
   padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
 }
  .ver-a-h2{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  a.pdd-10x{
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 13px;
    text-decoration: none;
  }


@media (min-width: 576px){
.container {
    max-width: 540px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}

@media (min-width: 992px){
.container {
    max-width: 960px;
}
.size-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.align-content-center{
  align-content: center;
}
}
@media (min-width: 1024px){ 
.nav-bar{
  display: none;
}

#navegacion .nav-bar-desktop{
  font-family: 'Comfortaa', cursive, 'Arial';
  color: var(--font-color);
  width: 100%;
  font-size: 18px;
  padding: 15px;
  border: solid 1px #FFFFFF;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.15)
}

.logo-desktop{
  margin-right: 30%;
}

.enlaces-desktop a{
  text-decoration: none;
  color: var(--font-color);
}

.enlaces-desktop {
  display: flex;
  flex-grow: 1;
  align-self: center;
  justify-content: space-between;
  padding-right: 15px;
}

.nav-bar-desktop {
  display: flex;
  flex-wrap: wrap;
}

#icons-desktop a{
  text-decoration: none;
  color: var(--font-color);
}

#icons-desktop{
  display: flex;
  align-self: center;
  justify-content:space-between;
  border: solid 1px #219653;
  background-color: white;
  box-sizing: content-box;
  color: #219653;
  border-radius: 13px;
  width: 7%;
  padding: 0.5%;
}
.foot-logo{
  display: none;
}

.foot-logo-desktop{
  display: flex;
  margin-right: 10%;
}

.redes-desktop a{
  display: flex;
  text-decoration: none;
  color: white;
}

.redes{
  display: none;
}

.redes-desktop{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-self: center;
  padding-left: 2%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.links{
  display: none;
}

.links-desktop li{
  margin: auto;
}

.links-desktop a{
  text-decoration: none;
  color: white;
  padding-right: 20px;

}

.links-desktop{
  color: white;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;   
  padding-left: 3%;
}

.copyright{
  display: none;
}

.copyright-desktop{
  display: flex;
  align-self: flex-end;
  font-family: 'Comfortaa', cursive, 'Arial';
  color: white;
  font-size: 10px;
  padding-right: 6%;
}
}

