
  /* /////   MAIN TODOS LOS PRODUCTOS //////*/
section.products-category{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
 article.container{
   width: 70%;
   height: 95%;
   display: flex;
   align-items: center;
   padding: 10px;

   background-color: white;
   border: 1px solid var(--border-color-grey);
    border-radius: 13px;
 }

 .img-contain{
   display: flex;
  width: 40%;
  height: 90%;
}
.img-contain img{
    object-fit: contain;
}
.contain-titles{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
  }
.a-h2-nov{
  width: 35px;
  color: var(--font-color);
  padding: 8px 21px;
  border: 1px solid var(--font-color);
  font-size: 1em;
  border-radius: 13px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}
.a-h2-nov:hover{
  background-color: var(--font-color);
  color: white;
  transition: color 0.35s ease-in-out, 
  background-color 0.35s ease-in-out, 
  border-color 0.35s ease-in-out, 
  box-shadow 0.35s ease-in-out;
}


@media (min-width: 576px){
.container {
    max-width: 540px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}

@media (min-width: 992px){
.container {
    max-width: 960px;
}
.size-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.align-content-center{
  align-content: center;
}
}
