:root{
    --body-background:#f4f4f4;
    --articles-bg:white;
    --font-color:#219653;
    --bg-font-green-hover:#18683b;
    --bg-font-grey-hover:#5a6268;
}



.d-flex {display: flex;}
.fd-colu {flex-direction: column;}
.f-grow-1 {flex-grow: 1;}
.m-right-10{ margin-right: 10px;}
.d-none {display: none;}
.w-100 {width: 100%;}
.b-radius-0-0-13-13 {border-radius: 0 0 13px 13px;}
.b-radius-13-13-0-0 {border-radius: 13px 13px 0 0}
.b-radius-13 {border-radius: 13px;}
.p-20 {padding: 0 20px;}
.b-botto {border-bottom: 1px solid green;}
.b-top {border-top: 1px solid green;}
.b-top1 {border-top: 1px solid var(--font-color);}
.b-botto1 {border-bottom: 1px solid var(--font-color);}
.p-10-20 {padding: 10px 20px;}
.p-10-0 {padding: 10px 0;}
.p-left {padding-left: 20px;}
.p-10 {padding: 10px;}
.m-0-20 {margin: 0 20px;}
.m-20-0 {margin: 20px 0;}
.m-botto-20 {margin-bottom: 20px;}
.j-cont-sa {justify-content: space-around;}
.tran-035 {
    transition: color 0.35s ease-in-out, 
    background-color 0.35s ease-in-out, 
    border-color 0.35s ease-in-out, 
    box-shadow 0.35s ease-in-out;
}

.f-size-9 {font-size: 90%;}
.f-size-10 {font-size: 100%;}
.f-size-60 {font-size: 60%;}
.f-size-70 {font-size: 70%;}
.t-deco-lt {text-decoration: line-through;}
.ta-j {text-align: justify;}
.ta-c {text-align: center;}
.a-item-b {align-items: baseline;}
.a-self-c {align-self: center;}
.color-a {color: rgb(0, 106, 253);}
.t-deco-n {text-decoration: none;}
.t-tran-u {text-transform: uppercase;}
.t-tran-c {text-transform: capitalize;}
.f-weig-b {font-weight: bold;}
.bg-c {background-color: rgb(250, 250, 250);}

/* Inicio del Encabezado*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navegacion .cuenta{
    font-family: 'Comfortaa', cursive, 'Arial';
    color: white;
    text-align: right;
    font-size: 15px;
    width:100%;
    padding: 15px;
    border: solid 1px black;
    box-sizing: border-box;
    background-color: black;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15)
}

.cuenta a{
    text-decoration: none;
    color: white;
}

#navegacion .nav-bar{
    font-family: 'Comfortaa', cursive, 'Arial';
    color: var(--font-color);
    width: 100%;
    font-size: 18px;
    padding: 15px;
    border: solid 1px #FFFFFF;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15)
}

.enlaces a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 15px;
}

.nav-bar-desktop{
    display: none;
}

.nav-container{
    display: none;
}

.hamburguesa{
    display: block;
    box-sizing: content-box;
    text-align: left;
    padding-left: 2%;
    padding-top: 7%;
    font-size: 30px;
}

.hamburguesa:hover .nav-container{
    display: block;
    text-align: left;
}

.enlaces {
    display: block;
    text-align: left;
  }


.nav-bar {
    display: flex;
    flex-wrap: wrap;
  }

.logo{
    display: flex;
    justify-content: flex-end;
    margin: auto;
}


.enlaces li{
    text-decoration: underline;
    font-weight: bold;
}

#icons a{
    color: #219653;
}

#icons{
    display: block;
    border: solid 1px #219653;
    border-radius: 13px;
    background-color: white;
    box-sizing: content-box;
    color: #219653;
    text-align: center;
    color: var(--font-color);
    font-size: 15px;
    padding: 2%;
}

/* Fin del Encabezado */

/* Inicio del Cuerpo Principal */
.link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

td {
    padding: 1%;
}
    
.body-01 {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
    font-family: 'Comfortaa', cursive, 'Arial';
    
    
}

#principal1 {
    margin: 40px 15px;

}

#productos, #cuotas, #descripcion {
    width: 100%;
    background-color: white;
    border: 1px solid #dcdee3;
    border-radius: 13px;
    margin: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)
}

#relaciones {
    width: 100%;
    border-radius: 13px;
    box-sizing: border-box;
}

#agrupe {
    flex-direction: column;
}

.i-credit {
    font-size: 160%;
    margin: 20px;
}

.d-flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.descuento {
    background-color: var(--font-color);
    color: white;
    padding: 1%;
}

.p-final {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 20px;
}

.d-flex-c {
    display: flex;
    flex-direction: column;
    
}

.cant {
    border: 1px solid #dcdee3;
    margin: 10px;
    padding: 0 30px;
}

.carr {
    background-color: var(--font-color);
    color: var(--body-background);
    text-align: center;
    margin: 20px;
    padding: 0.6em 0;
    border-radius: 30px;

}

.carr:hover {
    background-color: var(--bg-font-green-hover);
}

.carr a {
    color: white;
}


.d-flex i {justify-content: flex-end;}

.d-flex-c:hover .div1-a p {display: block;}

.d-flex-c:hover .div2-a {display: block;}

.d-flex-c:hover .div3-a p {display: block;}

.d-flex-c:hover .div4-a {display: block;}

.acces_style {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.2em 0;
    border: 1px solid black;

}

.ver {
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 0.6em 0;
    border: 1px solid black;
    border-radius: 30px;
}

.ver:hover {
    background-color: var(--bg-font-grey-hover);
}

.ver:hover a {
    color: white;
}

.ver a {
    color: var(--bg-font-grey-hover);
}

.acces {
    width: 100%;
    background-color: white;
    border: 1px solid #dcdee3;
    border-radius: 13px;
    margin: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)
}

.sin_estilo {
    background-color: white;
    border: 1px solid #dcdee3;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

/* Fin del Cuerpo Principal */

/* Inicio de Pie de Pagina */

.foot1{
    width:100%;
    border: solid 1px black;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: black;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15)
}

#foot{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive, 'Arial';
    color: white;
}

.foot-logo-desktop{
    display: none;
}

.foot-logo{
    margin: auto;
    padding-bottom: 2%;
}

.links-desktop{
    display: none;
}

.links a{
    text-decoration: none;
    color: white;
}

.links{
    color: white;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    font-size: 14px;
    padding-bottom: 4%;
}

.redes-desktop{
    display: none;
}

.redes a{
    display: none;
}

.redes{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 40%;
    margin: auto;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.copyright-desktop{
    display: none;
}

.copyright{
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive, 'Arial';
    color: white;
    width: 100%;
    font-size: 8px;
}

/* Fin de Pie de Pagina */

/*Media Width 1024 px*/

@media (min-width:1024px) {

    /* Inicio del Encabezado */

    .nav-bar{
        display: none;
    }

    #navegacion .nav-bar-desktop{
        font-family: 'Comfortaa', cursive, 'Arial';
        color: var(--font-color);
        width: 100%;
        font-size: 18px;
        padding: 15px;
        border: solid 1px #FFFFFF;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.15)
    }
    
    .logo-desktop{
        margin-right: 30%;
    }
    
    .enlaces-desktop a{
        text-decoration: none;
        color: var(--font-color);
    }
    
    .enlaces-desktop {
        display: flex;
        flex-grow: 1;
        align-self: center;
        justify-content: space-between;
        padding-right: 15px;
      }
    
    .nav-bar-desktop {
        display: flex;
        flex-wrap: wrap;
    }
    
    #icons-desktop a{
        text-decoration: none;
        color: var(--font-color);
    }
    
    #icons-desktop{
        display: flex;
        align-self: center;
        justify-content:space-between;
        border: solid 1px #219653;
        background-color: white;
        box-sizing: content-box;
        color: #219653;
        border-radius: 13px;
        width: 7%;
        padding: 0.5%;
    }

    /* Fin del Encabezado */

    /* Inicio de Cuerpo Principal */

    #principal1 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #productos {
        order: 1;
        width: 49%;
        margin: 20px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #productos .centrado {
        display: flex;
        justify-content: center;
    }

    #productos img {
        width: 50%;
    }

    #agrupe {
        order: 2;
        width: 49%;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 5px;
    }

    #descripcion {
        order: 2;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .div1-a p {display: block;}
    /* .div2-a p {display: block;}
    .div3-a p {display: block;}
    .div4-a p {display: block;} */

    #cuotas {
        order: 3;
        width: 100%;
        margin: 0;
    }

    #precios {
        order: 4; 
        width: 50%;
        height: 50%;
    }

    #accesorios {
        order: 5;
        width: 100%;
    }

    #relaciones {
        order: 6;
        display: flex;
    }

    #relaciones div {
        margin: 20px 5px;

    }

    #relaciones .carr {
        margin: 2% 20%;

    }

    #relaciones .ver {
        margin: 2% 20%;

    }

    #relaciones img {
        width: 50%;
    }

    .img-c {
        display: flex;
        justify-content: center;
    }

    .carr {margin: 2% 20%;}
    .ver {margin: 2% 20%;}

    /* Fin del Cuerpo Principla */

    /* Inicio del Pie de Pagina */

    .foot-logo{
        display: none;
    }

    .foot-logo-desktop{
        display: flex;
        margin-right: 10%;
    }
    
    .redes-desktop a{
        display: flex;
        text-decoration: none;
        color: white;
    }

    .redes{
        display: none;
    }
    
    .redes-desktop{
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-self: center;
        padding-left: 2%;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .links{
        display: none;
    }

    .links-desktop li{
        margin: auto;
    }
    
    .links-desktop a{
        text-decoration: none;
        color: white;
        padding-right: 20px;
    
    }
    
    .links-desktop{
        color: white;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-self: center;
        padding-top: 15px;
        padding-bottom: 15px;   
        padding-left: 3%;
    }

    .copyright{
        display: none;
    }

    .copyright-desktop{
        display: flex;
        align-self: flex-end;
        font-family: 'Comfortaa', cursive, 'Arial';
        color: white;
        width: 100%;
        font-size: 10px;
    }


    /* Fin del Pie de Pagina */

}

