:root{
    --body-background:#f4f4f4;
    --articles-bg:white;
    --font-color:#219653;
    --bg-font-green-hover:#18683b;
    --bg-font-grey-hover:#5a6268;
}

.body-register{
    background-color: var(--body-background);
}

.olvidar a {
    text-decoration: none;
    color: #219653;
}

.nacimiento input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color:#5a6268;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent:0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: white;   
    -webkit-rtl-ordering: logical;
    font-family: 'Comfortaa', cursive, 'Arial';
    cursor: text;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-image: none;
}

.nacimiento label{
    font-family: 'Comfortaa', cursive, 'Arial';
    font-size: 15px;
    color: #5a6268;
}

.crear{
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #219653;
    letter-spacing: normal;
    outline: none;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    cursor: default;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 0em;
    font-family: 'Comfortaa', cursive, 'Arial';
    font-weight: bold;
    padding: 10px;
    border-width: 1px;
    border-style: outset;
    border-color: #f4f4f4;
    border-image: none;
    border-radius: 13px;
    width: 200px;
}

.crear:hover{
    background-color: #219653;
    color: white;
    border-color: #219653;
}


.registro input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color:#5a6268;
    font-size: 15px;
    width: 100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent:0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    font-family: 'Comfortaa', cursive, 'Arial';
    cursor: text;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-image: none;
    outline: none;
}

.enviar{
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #219653;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 0em;
    font-family: 'Comfortaa', cursive, 'Arial';
    font-weight: bold;
    padding: 9px;
    border-width: 1px;
    border-style: outset;
    border-color: #f4f4f4;
    border-image: none;
    border-radius: 13px;
    width: 100px;
    outline: none;
}

.registro hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.register p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.register{
    width: 50%;
    height: 100%;
    border: 1px solid var(--bg-font-grey-hover);
    border-radius: 13px;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);   
    margin: auto;
}

.body-register h1{
    font-family: 'Comfortaa', cursive, 'Arial';
    color:var(--font-color);
    text-align: center;
    font-size: 45px;
    padding-top: 10%;
    padding-bottom: 4%;
}

.registro{
    font-family: 'Comfortaa', cursive, 'Arial';
    color: var(--bg-font-grey-hover);
    text-align: left;
    font-size: 25px;
    padding-left: 15%;
    padding-right: 15%;
}


.center1{
    text-align: center;
    padding: 10%;
}


@media (max-width:1024px){

    .register{
        width: 95%;
        height: 100%;
        border: 1px solid var(--bg-font-grey-hover);
        border-radius: 13px;
        box-sizing: border-box;
        background-color: white;
        align-items: center;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);   
        margin: auto;
    }

    .body-register h1{
        font-family: 'Comfortaa', cursive, 'Arial';
        color:var(--font-color);
        text-align: center;
        font-size: 30px;
        padding: 4%;
    }

}