

.d-flex{display: flex;}
.f-wrap{flex-wrap: wrap;}
.width-100{width: 100%;}
.width-30{width: 30%;}
.hei-200x{height: 200px;}

.usuario article{
  width: 200px;
  background-color: white;
  border: 1px solid black;
}
<<<<<<< HEAD
.text-red{color: red; font-size: 0.6em;
}
=======
<<<<<<< HEAD

a.hover:hover{
  color: #219653;
  padding: 2%;
  border-radius: 13px;
  font-size: 18px;
}

.crear a{
  text-decoration: none;
}

.crear li{
  padding: 2%;
}
=======
>>>>>>> 22134f189646480c499a98a5bc620bd76cfed318
>>>>>>> 2fb0eef273fb1744ac3ddf51b65ed5e908e03a21
