

.d-flex{display: flex;}
.f-wrap{flex-wrap: wrap;}
.width-100{width: 100%;}
.width-30{width: 30%;}
.hei-200x{height: 200px;}

#miCuenta{
  display: flex;
}

.crear{
  width: 120%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 1%;
  padding: 15px;
  border: 1px solid var(--bg-font-grey-hover);
  border-radius: 13px;
  box-sizing: border-box;
  background-color: white;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
}

.misDatos{
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 1%;
  padding: 15px;
  border: 1px solid var(--bg-font-grey-hover);
  border-radius: 13px;
  box-sizing: border-box;
  background-color: white;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
}

a.hover:hover{
  color: #219653;
  padding: 2%;
  border-radius: 13px;
  font-size: 18px;
}

.crear a{
  text-decoration: none;
}

.crear li{
  padding: 2%;
}
