<!DOCTYPE html>
<html lang="en">
        <%- include("../partial/head")  %> 
        <title>Eletr8 | Modifica Producto</title>
<body class="body-productForm">
    <%- include("../partial/header") %>

      <main class="product-form">
            <h1>Pública un nuevo producto</h1>
            <section>   
                <form class="new-product" action="/products" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre de Producto</label>
                    <input type="text" name="name" id="name">
                    <hr>
                    <label for="brand">Marca</label>
                    <input type="text" name="brand" id="brand">
                    <hr>
                    <label for="price">Precio</label>
                    <input type="text" name="price" id="price">
                    <hr>
                    <label for="description">Descripcion</label>    
                    <textarea name="description" id="description" cols="30" rows="5" class="input border area f-size-10"></textarea>
                    <hr>
                    <label for="discount">Descuento</label>
                    <input type="text" name="discount" id="discount">
                    <hr>
                    <label for="stock">Stock</label>
                    <input type="text" name="stock" id="stock">
                    <hr>
                    <label for="speed">Velocidad</label>
                    <input type="text" name="speed" id="speed">
                    <hr>
                    <label for="battery">Bateria</label>
                    <input type="text" name="battery" id="battery">
                    <hr>
                    <label for="wheel">Ruedas</label>
                    <input type="text" name="wheel" id="wheel">
                    <hr>
                    <label for="ligth">Luces</label>
                    <input type="text" name="light" id="light">
                    <hr>
                    <label for="folding">Plegable</label>
                    <input type="text" name="folding" id="folding">
                    <hr>
                    <label for="brake">Frenos</label>
                    <input type="text" name="brake" id="brake">
                    <hr>
                    <label for="color">Color</label>
                    <input type="text" name="color" id="color">
                    <hr>
                    <label for="weight">Peso</label>
                    <input type="text" name="weight" id="weight">
                    <hr>
                    <label for="category">Categoria:</label>
                    <div>
                        <select name="category" id="categoria">Categoria
                        <option value="">Seleccionar...</option>
                        <option value="monopatines">Monopatines</option>
                        <option value="bicicletas">Bicicletas</option>
                        <option value="accesorios">Accesorios</option>
                        <option value="monociclos">Monociclos</option>
                        <option value="dualciclos">Dualciclos</option>
                    </select>
                    </div>
                    <hr>
                    <br>
                    <label class="titulo">Agregá una imágen</label>
                    <input type="file" name="image" >
                    <div class="center1">
                        <button  class="crear" type="submit">Públicar</button>
                    </div>
                </form>
            </section>          
      </main>

        <%- include("../partial/footer") %>
</body>