<!DOCTYPE html>
<html lang="en">
        <%- include("../partial/head")  %> 
        <title>Eletr8 | Modifica Producto</title>
<body class="body-productForm">
    <%- include("../partial/header") %>

      <main class="product-form">
            <h1>Pública un nuevo producto</h1>
            <section>   
                <form class="new-product" action="/products" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name" id="name" placeholder="Nombre Producto">
                    <hr>
                    <br>    
                    <textarea name="description" id="description" cols="30" rows="5" placeholder="Descripción del producto" class="input border area f-size-10"></textarea>   
                    <input type="text" name="price" id="price" placeholder="$ Precio">
                    <hr>
                    <div>
                        <label for="category">Categoria:</label>
                        <select name="category" id="categoria">Categoria
                        <option value="">Seleccionar...</option>
                        <option value="monopatines">Monopatines</option>
                        <option value="bicicletas">Bicicletas</option>
                        <option value="accesorios">Accesorios</option>
                        <option value="monociclos">Monociclos</option>
                        <option value="dualciclos">Dualciclos</option>
                    </select>
                    </div>
                    <hr>
                    <br>
                    <label class="titulo">Agregá una imágen</label>
                    <input type="file" name="image" >
                    <div class="center1">
                        <button  class="crear" type="submit">Públicar</button>
                    </div>
                </form>
            </section>          
      </main>

        <%- include("../partial/footer") %>
</body>