<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="/stylesheets/createProduct.css" rel="stylesheet">
        <link href="/stylesheets/header1-footer1.css" rel="stylesheet">
        <title>Eletr8 | Modificar Producto</title>
    </head>
<body class="body-productForm">
    <header class="header1">
        <a href="/"><img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8"></a>
        <p class="cuentas">Modificar producto</p>
        <div id="header1-icons">
            <a class="user" href="/login"><i class="far fa-user"></i></a>
            <a class="cart" href="/productCart"><i class="fas fa-shopping-cart" ></i></a>
            <a class="search" href="/"><i class="fas fa-search" ></i></a>
        </div>
    </header>
    <br>
      <main class="product-form">
            <h1>Pública un nuevo producto</h1>
            <section>   
                <form class="new-product" action="/products" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name" id="name" placeholder="Nombre Producto">
                    <hr>
                    <br>    
                    <textarea name="description" id="description" cols="30" rows="5" placeholder="Descripción del producto" class="input border area f-size-12"></textarea>
                    <br>     
                    <br> 
                    <input type="text" name="price" id="price" placeholder="$ Precio">
                    <hr>
                    <br>
                    <input type="number" name="stock" id="stock" placeholder="Stock">
                    <hr>
                    <br>
                    <label class="titulo">Agregá una imágen</label>
                    <input id="file" type="file" name="file" id="file" >
                    <div class="center1">
                        <button  class="crear" type="submit">Públicar</button>
                    </div>
                </form>
            </section>          
      </main>
      <br>
      <br>
      <hr>
      <footer>
        <div class="footer1-foot">
            <div class="footer1-logo-mobile">
                <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
            </div>
            <div class="footer1-logo">
                <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
            </div>
            <ul class="footer1-links">
                <li><a href="/product">Productos</li></a> 
                <li><a href="/">Acerca de Nosotros</li></a> 
                <li><a href="/">Redes Sociales</li></a> 
            </ul> 
            <br>
            <div class="footer1-copyright">
                <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
            </div>
        </div>
    </footer>
</body>