<html lang="en">
    <%- include("../partial/head")  %> 
<body>
      <%- include("../partial/header") %> 

              <section  class="margin-bt-20x">
                  <article class="container">
                        <div class="d-flex-wrap bg-white jus-con-center b-radius-13">
                              <div class="img-contain d-flex-wrap size-50 pdd-0x-15x">
                                    <img src="/images/bicicletas/bic-201-black-.jpg" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex-wrap align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/products/list/bicicletas">Ver e-bicicletas</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section  class="margin-bt-20x se-bg">
                  <article class="container">
                        <div class="d-flex-wrap bg-white jus-con-center b-radius-13">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monociclos/mc-404-Products-Segway-Ninebot.png" alt="dualciclos" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex-wrap align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/products/list/dualciclos">Ver e-dualciclos</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section  class="margin-bt-20x">
                  <article class="container">
                        <div class="d-flex-wrap bg-white jus-con-center b-radius-13">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monociclos/mc-405-one-s2-resized.png" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex-wrap align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/products/list/monociclos">Ver e-monociclos</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section  class="margin-bt-20x se-bg cartins-4">
                  <article class="container">
                        <div class="d-flex-wrap bg-white jus-con-center b-radius-13">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monociclos/mc-403-go-KART.jpg" alt="e-kart" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex-wrap align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/products/list/monociclos">Ver mas e-kart</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>

              <section class="margin-bt-20x monopatines-5">
                  <article class="container">
                        <div class="d-flex-wrap bg-white jus-con-center b-radius-13">
                              <div class="img-contain size-50 pdd-0x-15x">
                                    <img src="/images/monopatines/mp-300-Ninebot-KICKSCOOTER-Max.png" alt="bicicleta" width="100%">
                              </div>
                              <div class="pdd-15x size-50 d-flex-wrap  align-content-center">
                                    <h2 class="margin-b">Prague Electric Mountain Bike, E-Bike, E-MTB, 250W, 36V 13Ah 468Wh Battery
                                    </h2>
                                    <p class="font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni laboriosam non, nisi dolore error possimus doloribus excepturi commodi. Libero eaque minima dolore blanditiis ipsam fugiat, expedita eveniet quas culpa?
                                    </p>
                                    <div class="ver-a-h2">
                                          <a class="pdd-10x" href="/products/list/monopatines">Ver e-monopatines</a>
                                    </div>   
                              </div>
                        </div>
                  </article>
              </section>
                
        </main>
        <%- include("../partial/footer") %> 
</body>
</html>