<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/productCart.css">
      <title>Carrito</title>
</head>
<body>
    <%- include("../partial/header") %>
<main>
            <div class="small-container cart-page">

                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                    <td>
    
                        <div class="cart-info">
                            <img src="/images/monopatines/mp-300-Ninebot-KICKSCOOTER-Max.png">
                            <div>
                                <p>NINEBOT KICKSCOOTER</p>
                                <small>$20.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$20.000</td>
                </tr>
                <tr>
                    <td class="td-div">
    
                        <div class="cart-info">
                            <img src="/images/monopatines/mp-303-ninebot-air-t15.png">
                            <div>
                                <p>NINEBOT AIR T15</p>
                                <small>$20.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$20.000</td>
                </tr>
                <tr>
                    <td class="td-div">
    
                        <div class="cart-info">
                            <img src="/images/monociclos/mc-406-MONOCICLO-CICLO.png">
                            <div>
                                <p>MONOCICLO GREY</p>
                                <small>$25.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$25.000</td>
                </tr>
                </table>
    
                <div class="total-price">
    
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>$65.000</td>
                        </tr>
                        <tr>
                            <td>Envío</td>
                            <td>$3.000</td>
                        </tr>
                        <tr>
                            <td>Descuento</td>
                            <td>$2.500</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$65.500</td>
                        </tr>
                        <tr>

                            <td><a class="finalizar-compra" href="/">FINALIZAR COMPRA</a></td>

                        </tr>
                    </table>
    
                </div>
    
            </div>
        </main>

        <section id="accesorios" class="pad-section">
            <div class="titulo-link-contain">
                  <h2 class="titulo-acc">Accesorios</h2>
                  <a class="link-ver-mas" href="./products/acc">Ver mas accesorios</a>
            </div>
            <article class="ac-contain">
                  <div class="p-ac-img">
                      <img src="/images/accesorios/acc-100-Loading-basket.jpg" alt="canasta">
                  </div>
                  <div class="acc-base-contain">
                        <h3><a href="#">Canasta</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="/products/productDetail">Ver mas</a>
                        <a class="add-car" href="/products/productCart">Agregar al carrito</a>
                  </div>      
            </article>
            <article class="ac-contain">
                  <div class="p-ac-img">
                      <img src="/images/accesorios/acc-101-backpack-pj.jpeg" alt="canasta">
                  </div>
                  <div class="acc-base-contain">
                        <h3><a href="#">Mochila</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="/productDetail">Ver mas</a>
                        <a class="add-car" href="/products/productCart">Agregar al carrito</a>
                  </div>      
            </article>
            <article class="ac-contain">
                  <div class="p-ac-img">
                      <img src="/images/accesorios/acc-102-External-BATERIA.png" alt="canasta">
                  </div>
                  <div class="acc-base-contain">
                        <h3><a href="#">Bateria externa</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="/productDetail">Ver mas</a>
                        <a class="add-car" href="/products/productCart">Agregar al carrito</a>
                  </div>      
            </article>
            <article class="ac-contain">
                  <div class="p-ac-img">
                      <img src="/images/accesorios/acc-103-CASCO-w01.jpg" alt="canasta">
                  </div>
                  <div class="acc-base-contain">
                        <h3><a href="#">Casco</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="/productDetail">Ver mas</a>
                        <a class="add-car" href="/products/productCart">Agregar al carrito</a>
                  </div>      
            </article>
            <article class="ac-contain">
                  <div class="p-ac-img">
                      <img src="/images/accesorios/acc-105-Soporte-celular.jpg" alt="canasta">
                  </div>
                  <div class="acc-base-contain">
                        <h3><a href="#">Soporte para celular</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="/productDetail">Ver mas</a>
                        <a class="add-car" href="/products/productCart">Agregar al carrito</a>
                  </div>      
            </article>
            <article class="ac-contain">
                  <div class="p-ac-img">
                      <img src="/images/accesorios/acc-104-BOLSO002.jpg" alt="canasta">
                  </div>
                  <div class="acc-base-contain">
                        <h3><a href="#">Bolso</a></h3>
                        <p class="precio">Precio</p>
                        <a class="ver-mas" href="/productDetail">Ver mas</a>
                        <a class="add-car" href="/products/productCart">Agregar al carrito</a>
                  </div>      
            </article>
            
      </section>

            <!-- <div class="small-container">
                <h2 class="title">ACCESORIOS</h2>
                <div class="row">
                    <div class="col-4">
                        <img src="/images/accesorios/acc-100-Loading-basket.jpg" alt="">
                        <h4>CANASTA DE CARGA</h4>
                        <div class="rating"></div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <p>$2.000</p>
                
                        <div>
                        <div class="carr f-size-10 t-tran-u tran-035">
                            <a href="/productCart">Agregar al Carrito</a>
                        </div>
                        <div class="ver f-size-10 t-tran-u tran-035">
                            <a href="/productDetail">Ver Mas</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/images/accesorios/acc-101-backpack-pj.jpeg" alt="">
                        <h4>MOCHILA BLACK</h4>
                        <div class="rating"></div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <p>$3.000</p>
                        <div>
                            <div class="carr f-size-10 t-tran-u tran-035">
                                <a href="/productCart">Agregar al Carrito</a>
                            </div>
                            <div class="ver f-size-10 t-tran-u tran-035">
                                <a href="/productDetail">Ver Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/images/accesorios/acc-102-External-BATERIA.png" alt="">
                        <h4>BATERIA EXTERNA </h4>
                        <div class="rating"></div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <p>$5.000</p>
                        <div>
                            <div class="carr f-size-10 t-tran-u tran-035">
                                <a href="/productCart">Agregar al Carrito</a>
                            </div>
                            <div class="ver f-size-10 t-tran-u tran-035">
                                <a href="/productDetail">Ver Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/images/accesorios/acc-103-CASCO-w01.jpg" alt="">
                        <h4>CASCO CLÁSICO</h4>
                        <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <p>$2.500</p>
                        <div>
                            <div class="carr f-size-10 t-tran-u tran-035">
                                <a href="/productCart">Agregar al Carrito</a>
                            </div>
                            <div class="ver f-size-10 t-tran-u tran-035">
                                <a href="/productDetail">Ver Mas</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
            </div> -->
            <%- include("../partial/footer") %>
</body>
</html>