    <footer>
        <div id="foot">
            <div class="foot-logo">
                <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
            </div>
            <ul class="links">
                <li><a href="/product">Productos</a></li>
                <li><a href="/">Categorías</a></li>
                <li><a href="/">Acerca de Nosotros</a></li> 
            </ul> 
            <ul class="redes">
                <i class="fab fa-instagram"></i><a href="/">Instagram</a>
                <i class="fab fa-facebook-square"></i><a href="/">Facebook</a>
                <i class="fab fa-whatsapp"></i><a href="/">WhatsApp</a>
            </ul>
            <div class="copyright">
                <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
            </div>
            <div class="foot-logo-desktop">
                <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
            </div>
            <ul class="links-desktop">
                <li><a href="/product">Productos</a></li>
                <li><a href="/">Categorías</a></li>
                <li><a href="/">Acerca de Nosotros</a></li> 
            </ul>
            <ul class="redes-desktop">
                <i class="fab fa-instagram"></i><li><a href="/">Instagram</a></li><br>
                <i class="fab fa-facebook-square"></i><li><a href="/">Facebook</a></li><br>
                <i class="fab fa-whatsapp"></i><li><a href="/">WhatsApp</a></li>
            </ul>
            <div class="copyright-desktop">
                <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
            </div>
        </div>
    </footer>