<footer>
    <div class="foot">
        <div class="logo-mobile">
            <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
        </div>
        <div class="logo">
            <a href="/"><img src="/images/electr8-logo.png" aling="left" width ="200" height="70" alt="Electr8"></a>
        </div>
        <ul class="links">
            <li><a href="/product">Productos</li></a> 
            <li><a href="/">Acerca de Nosotros</li></a> 
            <li><a href="/">Redes Sociales</li></a> 
        </ul> 
        <br>
        <div class="copyright">
            <p>Copyright © 2020. Electr8 todos los derechos reservados</p>
        </div>
    </div>
</footer>