        <header id="navegacion">
            <div class="cuenta">
                <a href="/login">MI CUENTA</a>
            </div>
            <br>
            <div class="nav-bar">
                <div class="hamburguesa">
                        <i class="fas fa-bars"></i>
                    <div class="nav-container">
                        <div id="icons"></ul>
                            <a href="/login"><i class="far fa-user"></i></a>
                            <a href="/productCart"><i class="fas fa-shopping-cart" ></i></a>
                            <a href="/"><i class="fas fa-search" ></i></a>
                        </div>
                        <ul class="enlaces">   
                            <li><a href="/">INICIO</a></li>
                            <li><a href="/products">PRODUCTOS</a></li>  
                            <li><a href="/">ACCESORIOS</a></li>
                            <li><a href="/contact">CONTACTO</a></li>   
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <a href="/"><img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8"></a>
                </div>
            </div>
            <div class="nav-bar-desktop">
                <div class="logo-desktop">
                    <a href="/"><img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8"></a>
                </div>
                    <ul class="enlaces-desktop">   
                        <li><a href="/">INICIO</a></li>
                        <li><a href="/products">PRODUCTOS</a></li>    
                        <li><a href="/">ACCESORIOS</a></li>   
                        <li><a href="/contact">CONTACTO</a></li>    
                    </ul> 
                <div id="icons-desktop"></ul>
                    <a href="/login"><i class="far fa-user"></i></a>
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/home"><i class="fas fa-search"  ></i></a>
                </div>
            </div> 
        </header>