<header class="header1">
    <a href="/"><img src="/images/electr8-logo.png" width ="200" height="75" alt="Electr8"></a>
    <p class="cuentas">Pública un nuevo producto</p>
    <div id="icons">
        <a class="user" href="/login"><i class="far fa-user"></i></a>
        <a class="cart" href="/productCart"><i class="fas fa-shopping-cart" ></i></a>
        <a class="search" href="/"><i class="fas fa-search" ></i></a>
    </div>
</header>