<section id="searchEngine">
        <form action="/search" method="GET" class="search-form">
            <button type="submit" class="search-buttom"><i class="fas fa-search" ></i></button>
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más..." class="search-form_input">
        </form>
</section>
