*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      background-color: var(--body-background);
      font-family: 'Comfortaa', cursive, 'Arial';
      font-size: 14px;
}
a{
      text-decoration: none;
      color:black;
}
a:visited{
      color:black;
}
:root{
       --body-background:#f4f4f4;
       --articles-bg:white;
       --font-color:#219653;
       --bg-font-green-hover:#18683b;
       --bg-font-grey-hover:#5a6268;
       --color-verde:#219653;
       --border-color-grey: #dcdcdc;

}
.bg-white{  background-color: white; }
.br-gray{ border: 1px solid var(--border-color-grey);}

header{
      height: 15vh;
      background-color: black;
}

/* #header p{
      font-family: 'Comfortaa', cursive, 'Arial';
      color: white;
      text-align: right;
      font-size: 15px;
      width:100%;
      padding: 15px;
      border: solid 1px black;
      margin: 5px;
      box-sizing: border-box;
      background-color: black;
  }
  
  #header div{
      font-family: 'Comfortaa', cursive, 'Arial';
      color: var(--color-verde);
      font-size: 18px;
      padding: 15px;
      border: solid 1px #FFFFFF;
      margin: 5px;
      box-sizing: border-box;
  }
  
  
  .nav-bar {
      display: flex;
      flex-wrap: wrap;
    }
    
  .enlaces {
      display: flex;
      position: relative;
      flex-grow: 1;
      align-self: center;
      justify-content: space-around;
    }
  
  
  .iconos{
      display: flex;
      align-self: center;
      justify-content:space-around;
  } */

/* /////// MAIN HOME /////// */
#banner-carousel {
      width: 100%;
      height: 40vh;
      background-color:var(--bg-font-green-hover) ;
}
#banner-carousel img{
      width: 100%;
      height: 100%;
}
#home-main{
      margin: 0px 5%;
}
#novedades{
      width: 100%;
      margin: 40px 0px;
}
.novedades-contain{
      height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}

.novedades-caja1{
      width: 49%;
      height: 100%;
      align-self: stretch, center;
      border: 1px solid var(--border-color-grey);
      border-radius: 13px;
      padding: 6px;
}
.cajas-2-3{
      width: 49%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
}
.nov-img{
      width: 100%;
      height: 100%;
}
.novedades-caja2{
      width: 100%;
      height: 49%;
      border-radius: 13px;
}
.novedades-caja3{
      width: 100%;
      height: 49%;
      border-radius: 13px;
}
/* HOME PRODUCTOS  #productos*/
#lista-productos{
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}

article.home-producto{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 330px;
      max-height: 500px;
      border-radius: 13px;
      box-shadow: 0 0 10px 5px #dedede80;
      margin-bottom: 20px;
      background-color: var(--articles-bg);
      padding: 0px 10px 10px ;
      border:1px solid var(--border-color)
}
.home-producto:hover{
      box-shadow: 0 10px 20px 0 #acb5b966;
      transform:scale(1.1);
      -ms-transform:scale(1.1); 
      -moz-transform:scale(1.1);
      -webkit-transform:scale(1.1); 
      -o-transform:scale(1.1); 
}

.home-producto .article-img{
      margin-bottom: 10px;
      max-width: 350px;
      max-height: 400px;
}
.home-producto .article-base{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: column;
      margin-bottom: 20px;
}
.home-producto .article-img img{
      width: 100%;
      margin: auto;
}
.article-base p, .article-base h3{
      margin-bottom: 10px;
}
.ver-mas{
      width: 94%;
      border:1px solid black;
      text-transform: uppercase;
      padding: 0.2em;
      font-size: 0.8em;
      margin: 0px auto 10px;
}
.ver-mas:hover{
      background-color: var(--bg-font-grey-hover);
      color: white;
      border-color: white;
}
.add-car{
      background-color: var(--font-color);
      width: 94%;
      margin: 0px auto;
      text-transform: uppercase;
      padding: 0.2em 0px;
      color: white;
      font-size: 0.8em;
      border:1px solid var(--font-color);
}
.add-car:visited{
      color: white;
}
.add-car:hover{
      background-color: var(--bg-font-green-hover);
}
/* ACCESORIOS section #accesorios*/
#accesorios{
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}
#accesorios .ac-contain{
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      border-radius: 13px;
      box-shadow: 0 0 10px 5px #dedede80;
      margin-bottom: 20px;
      background-color: var(--articles-bg);
      padding: 5px;
}
.p-ac-img{
      width: 50%;
}
.ac-contain img{
      width: 100%;
}
.acc-base-contain{
      width: 48%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
}

/* footer{
      height: 100px;
      background-color: black;
} */
footer{
      width:100%;
      padding: 30px;
      border: solid 1px black;
      margin: 5px;
      box-sizing: border-box;
      background-color: black;
  }
  
  .foot{
      display: flex;
      flex-wrap: wrap;
      font-family: 'Comfortaa', cursive, 'Arial';
      color: white;
      font-size: 15px;
      text-align: right;
  }
  
  .links{
      display: flex;
      flex-grow: 1;
      position: relative;
      left: 200px;
      bottom: 5px;
      justify-content: space-around;
      align-self: center;
  
  }
  
  .redes{
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      position: relative;
      left: 300px;
      top: 20px;
  }  


/* ///////  TITULOS Y TEXTOS del HOME  /////// */
.titulo-link-contain{
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
}
h2{
      font-size: 1.8em;
      color:var(--font-color);
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      padding: 3px;
}
.link-ver-mas{
      font-size: 1em;
      text-transform: uppercase;
      font-style: italic;
}
.link-ver-mas:hover{
      font-size: 1em;
      text-decoration: underline;
}
h3{
      font-size: 1.1em;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
}
h3 a{
      width: 100%;
      font-size: 0.8em; 
      text-align: start;
   }
.precio {
      margin-bottom: 10px;
}   
/*  /////   Base-home-contain  CON ICONOS*/
.base-home-contain{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: white;
      padding: 5px;
}
.base-home-contain i.fas{
      font-size: 48px;
      margin-bottom: 5px;
}
.base-home-contain a{
      width: 47%;
      padding: 5px;
      text-align: center;
}


/* ARREGLOS PARA PANTALLAS MEDIAS*/
@media (min-width: 460px){
      body{
            font-size: 14px;
      }
      .home-producto{
            width: 48%;
            max-width: 240px;
      }
      #accesorios .ac-contain{
            width: 48%;
      }
      .base-home-contain a{
            width: 24%;
      }
}      
     
/* ARREGLOS PARA PANTALLAS DE ESCRITORIO*/
@media (min-width: 960px){
      body{
            font-size: 16px;
      }
      article.home-producto{
             width: 24%;
      }
      #accesorios .ac-contain{
            width: 24%;
      }
  } 