:root{
    --body-background:#f4f4f4;
    --articles-bg:white;
    --font-color:#219653;
    --bg-font-green-hover:#18683b;
    --bg-font-grey-hover:#5a6268;
}

.d-flex {display: flex;}
.fd-colu {flex-direction: column;}
.m-right-10{ margin-right: 10px;}
.d-none {display: none;}
.w-100 {width: 100%;}
.b-radius-0-0-13-13 {border-radius: 0 0 13px 13px;}
.b-radius-13-13-0-0 {border-radius: 13px 13px 0 0}
.b-radius-13 {border-radius: 13px;}
.p-20 {padding: 0 20px;}
.b-botto {border-bottom: 1px solid green;}
.b-top {border-top: 1px solid green;}
.b-top1 {border-top: 1px solid var(--font-color);}
.b-botto1 {border-bottom: 1px solid var(--font-color);}
.p-10-20 {padding: 10px 20px;}
.p-10 {padding: 10px;}

.f-size-7 {font-size: 70%;}
.f-size-8 {font-size: 80%;}
.f-size-30 {font-size: 30%;}
.t-deco-lt {text-decoration: line-through;}
.ta-j {text-align: justify;}
.ta-c {text-align: center;}
.a-item-b {align-items: baseline;}
.a-self-c {align-self: center;}
.color-a {color: rgb(0, 106, 253);}
.t-deco-n {text-decoration: none;}

a:visited {
    color: rgb(0, 106, 253);
}
    
body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
    font-family: 'Comfortaa', cursive, 'Arial';
    text-transform: uppercase;
    
}

header{
    height: 100px;
    background-color: black;
}

#principal {
    margin: 40px 15px;

}

#productos, #cuotas, #descripcion {
    width: 100%;
    background-color: white;
    border: 1px solid #dcdee3;
    border-radius: 13px;
    margin: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)
}

#relaciones {
    width: 100%;
    border-radius: 13px;
    box-sizing: border-box;
}

.i-credit {
    font-size: 160%;
    margin: 20px;
}

.d-flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.descuento {
    background-color: var(--font-color);
    color: white;
    padding: 1%;
}

.p-final {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 20px;
}

.d-flex-c {
    display: flex;
    flex-direction: column;
    
}

.cant {
    border: 1px solid #dcdee3;
    margin: 10px;
    padding: 0 30px;
}

.carr {
    background-color: var(--font-color);
    color: var(--body-background);
    text-align: center;
    margin: 20px;
    padding: 0.2em 0;

}

.d-flex i {justify-content: flex-end;}

.d-flex-c:hover .div1-a p {display: block;}

.d-flex-c:hover .div2-a p {display: block;}

.d-flex-c:hover .div3-a p {display: block;}

.d-flex-c:hover .div4-a p {display: block;}

.acces_style {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.2em 0;
    border: 1px solid black;

}

.ver {
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 0.2em 0;
    border: 1px solid black;
}



.acces {
    width: 100%;
    background-color: white;
    border: 1px solid #dcdee3;
    border-radius: 13px;
    margin: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)
}

.sin_estilo {
    background-color: white;
    border: 1px solid #dcdee3;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

footer{
    height: 100px;
    background-color: black;
}

@media (min-width:769px) {
    #principal {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #productos {
        order: 1;
        width: 100%;
        margin: 20px 5px;

    }

    #descripcion {
        order: 2;
        width: 48%;
        height: 50%;
        margin: 20px 5px;

    }

    #cuotas {
        order: 3;
        width: 50%;
        height: 100%;
    }

    #precios {
        order: 4; 
        width: 50%;
        height: 50%;
    }

    #accesorios {
        order: 5;
        width: 100%;
    }

    #relaciones {
        order: 6;
        display: flex;
    }

    #relaciones div {
        margin: 20px 5px;
    }

}

