:root{
    --body-background:#f4f4f4;
    --articles-bg:white;
    --font-color:#219653;
    --bg-font-green-hover:#18683b;
    --bg-font-grey-hover:#5a6268;
}




    
body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
    font-family: 'Comfortaa', cursive, 'Arial';
    text-transform: uppercase;
}

header{
    height: 100px;
    background-color: black;
}

#principal {
    margin: 40px 15px;

}

#productos, #descripcion {
    width: 100%;
    background-color: white;
    border: 1px solid #dcdee3;
    border-radius: 13px;
    margin: 20px 0;
    box-sizing: border-box;
}

.prod-div1, .prod-div2 {
    width: 100%;
    border-radius: 0 0 13px 13px;
}

.prod-div1 img {
    width: 100%;
    border-radius: 13px;
}

.prod-div2 { 
    display: flex;
    justify-content: flex-start;
    font-size: 80%;
    background-color: var(--body-background);
}

.prod-div2 span {
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 0 15px;
    border: 1px solid #dcdee3;
    border-radius: 0 0 8px 8px;
    background-color: white;
}

.prod-div2 span:hover {
    border-top: hidden;
    background-color: #219653;
}

.desc-div1, .desc-div2 {
    width: 100%;
    border-radius: 13px 13px 0 0;
}

.desc-div1 { 
    display: flex;
    justify-content: flex-start;
    font-size: 80%;
    background-color: var(--body-background);
}

.desc-div1 span {
    margin-top: 10px;
    margin-right: 2px;
    padding: 0 15px;
    border: 1px solid #dcdee3;
    border-radius: 8px 8px 0 0;
    background-color: white;
}

.desc-div2 p {
    text-align: justify;
}

.desc-div2-a {
    padding: 0 15px;
    margin: 20px 0;
}

footer{
    height: 100px;
    background-color: black;
}

