*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --body-background:#f4f4f4;
    --articles-bg:white;
    --font-color:#219653;
    --bg-font-green-hover:#18683b;
    --bg-font-grey-hover:#5a6268;
}

body{
    background-color: #f4f4f4;
    font-family: 'Comfortaa', cursive, 'Arial';
}
a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row{
    margin-top: 70px;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;

}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #219653;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #219653;
}

.col-4:hover{
    transform: translateY(-5px);
}

small{
    color: #555;
}
/*mdia query menu*/
@media (max-width:460px){
    .row{
        text-align: center;
    }
    .col-4{
        flex-basis: 100%;
    }

}



/*cart items*/

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.cart-info a:hover{
    background-color: var(--bg-font-green-hover);
    color: white;
    border-radius: 10%;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #219653;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #219653;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #219653;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


.f-size-10 {font-size: 100%;}
.ver {
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 20px 0;
    border: 1px solid black;
}

.ver:hover {
    background-color: var(--bg-font-grey-hover);
}

.ver:hover a {
    color: white;
}

.ver a {
    color: var(--bg-font-grey-hover);
}
.t-tran-u {text-transform: uppercase;}
.tran-035 {
    transition: color 0.35s ease-in-out, 
    background-color 0.35s ease-in-out, 
    border-color 0.35s ease-in-out, 
    box-shadow 0.35s ease-in-out;
}
.carr {
    background-color: #219653;
    color: var(--body-background);
    text-align: center;
    margin: 20px;
    padding: 20px 0;

}

.carr:hover {
    background-color: var(--bg-font-green-hover);
}

.carr a {
    color: white;
}

@media (max-width: 519px){
    .cart-info p{
        display: none;
    }
}