*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      background-color: var(--body-background);
      font-family: 'Comfortaa', cursive, 'Arial';
}

#header p{
      font-family: 'Comfortaa', cursive, 'Arial';
      color: white;
      text-align: right;
      font-size: 15px;
      width:100%;
      padding: 15px;
      border: solid 1px black;
      margin: 5px;
      box-sizing: border-box;
      background-color: black;
  }
  
  #header div{
      font-family: 'Comfortaa', cursive, 'Arial';
      color: var(--color-verde);
      font-size: 18px;
      padding: 15px;
      border: solid 1px #FFFFFF;
      margin: 5px;
      box-sizing: border-box;
  }
  
  
  .nav-bar {
      display: flex;
      flex-wrap: wrap;
    }
    
  
  .enlaces {
      display: flex;
      position: relative;
      flex-grow: 1;
      align-self: center;
      justify-content: space-around;
    }
  
  
  .iconos{
      display: flex;
      align-self: center;
      justify-content:space-around;
  }