:root{
    --color-verde:#219653;
}

body{
    background-color: #f4f4f4;
    font-family: 'Comfortaa', cursive, 'Arial';
}

/*header y footer*/

:root{
    --color-verde:#219653;
}

#header p{
    font-family: 'Comfortaa', cursive, 'Arial';
    color: white;
    text-align: right;
    font-size: 15px;
    width:100%;
    padding: 15px;
    border: solid 1px black;
    margin: 5px;
    box-sizing: border-box;
    background-color: black;
}

#header div{
    font-family: 'Comfortaa', cursive, 'Arial';
    color: var(--color-verde);
    font-size: 18px;
    padding: 15px;
    border: solid 1px #FFFFFF;
    margin: 5px;
    box-sizing: border-box;
}


.nav-bar {
    display: flex;
    flex-wrap: wrap;
  }
  

.enlaces {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: center;
    justify-content: space-around;
  }


.iconos{
    display: flex;
    align-self: center;
    justify-content:space-around;
}


footer{
    width:100%;
    padding: 30px;
    border: solid 1px black;
    margin: 5px;
    box-sizing: border-box;
    background-color: black;
}

.foot{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive, 'Arial';
    color: white;
    font-size: 15px;
    text-align: right;
}

.links{
    display: flex;
    flex-grow: 1;
    position: relative;
    left: 200px;
    bottom: 5px;
    justify-content: space-around;
    align-self: center;

}

.redes{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    position: relative;
    left: 300px;
    top: 20px;
}

footer p{
    display: flex;
    align-self: flex-end;
    position: relative;
    top: 30px;
    right: 1175px;
    font-family: 'Comfortaa', cursive, 'Arial';
    color: white;
    font-size: 10px;
    text-align: left;
}






/*items del carrito*/
.pag-cart{
    margin: 80px auto;
}

.tabla-principal{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #18683b;

}

.precio{
    font-weight: bold;
}

.info-cart{
    display: flex;
    flex-wrap: wrap;
    text-align: end;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #219653;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}



td input{
    width: 50px;
    height: 30px;
    padding: 5px;
    text-align: right;
}

td a{
    color: #219653;
    font-size: 12px;
    text-decoration: none;
}

td a:hover{
    background-color: #18683b;
    color: white;
    border-radius: 7px;
}

td img{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.precio-total{
    display: flex;
    justify-content: flex-end;
}

.precio-total table{
    border-top: solid 3px green;
    width: 100%;
    max-width: 400px;
}

td :last-child{
    text-align: right;
}

th :last-child{
    text-align: right;
}

#relaciones{
    display: flex;
    box-sizing: border-box;
}

#relaciones a{
    color: #219653;
    font-size: 12px;
    text-decoration: none;
    align-content: center;
}

#relaciones a:hover{
    background-color: #18683b;
    color: white;
    border-radius: 7px;
}

