:root{
    --body-background:#f4f4f4;
    --articles-bg:white;
    --font-color:#219653;
    --bg-font-green-hover:#18683b;
    --bg-font-grey-hover:#5a6268;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
    font-family: 'Comfortaa', cursive, 'Arial';
}

header{
    height: 100px;
    background-color: black;
}

#principal {
    margin: 40px 15px;
}

#productos, #descripcion {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 13px;
    margin: 20px 0;
}

.produc-div1, .produc-div2, .produc-div3 {
    width: 100%;
}

.produc-div1 {
    text-align: center;
    border-bottom: 1px solid var(--font-color);
}

.produc-div2 {
    display: flex;
    justify-content: space-around;
    font-size: 80%;
    background-color: var(--body-background);
}

.produc-div3 img {
    width: 100%;
}

.produc-div3 p {
    text-align: justify;
    margin: 10px 10px;
}

.produc-div3 {

}

.art {
    margin-top: 10px;
    padding: 0 15px;
    border: 1px solid #dcdee3;
    border-radius: 8px 8px 0 0;
    background-color: white;
}

.descrip-div1, .descrip-div2 {
    width: 100%;
}

.descrip-div1 img {
    width: 100%;
}

.descrip-div2 { 
    display: flex;
    justify-content: space-around;
    font-size: 85%;
}

.boton_agregar {
    text-align: center;
    background-color: var(--font-color);
}

.boton_agregar a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
    display: block;
    
}

footer{
    height: 100px;
    background-color: black;
}